.coach .profile .info input {
    background-color: transparent;
    padding: 0;
    cursor: text;
}

.coach .profile .info :where(.username, .name) span {
    position: fixed;
    display: inline-block;
    left: -100000rem;
    width: fit-content;
    padding: .25rem .5rem;
    font-weight: normal;
}

.coach .profile .info .username input {
    max-width: 35rem;
}

.coach .profile .info .username input:disabled {
    width: calc(var(--width) + 1px);
}

.coach .profile .info .username input:not([disabled]) {
    width: calc(var(--width));
    min-width: 7.5rem;
}

.coach .profile .info .name input {
    max-width: 24rem;
}

.coach .profile .info .name input:disabled {
    width: calc(var(--width) + 1px);
}

.coach .profile .info .name input:not([disabled]) {
    width: calc(var(--width));
    min-width: 5.5rem;
}

.coach .profile .actions .btn.btn-icon {
    position: absolute;
    top: .5rem;
    left: -3.5rem;
}

.coach .profile .actions button + a.btn.btn-icon {
    top: 3.5rem;
}

.coach .profile .info input[disabled] {
    overflow: hidden;
    text-overflow: ellipsis;
}

.coach .profile .info input:not([disabled]) {
    background-color: var(--color-black);
    padding: .25rem .5rem;
}

.coach .profile .teampro input {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coach .profile .info .teampro input:disabled {
    width: calc(var(--width) + 2px);
}

.coach .profile .info .teampro input + span {
    position: fixed;
    left: -100000000px;
}

.coach .profile .info .teampro input:not([disabled]) {
    width: calc(var(--width) + 1rem);
    min-width: 4.2rem;
}

.coach .info .teampro figure {
    position: relative;
}

.coach .info .teampro figure .input-image {
    position: inherit;
    z-index: 1;
}

.coach .info .teampro figure .input-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.coach .info .teampro figure input:not(:disabled) ~ .input-button {
    background-color: var(--color-black);
}

.coach .profile .info .name input:not([disabled]) {
    margin: 0 .5rem;
}

.coach .profile .info .name input {
    text-align: center;
}

.coach .description textarea {
    background-color: transparent;
    width: 100%;
    resize: none;
    padding: 0;
    min-height: 7rem;
    color: var(--color-two);
}

.coach .info .languages li {
    height: fit-content;
}

.coach .info .languages .btn {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .75rem;
}

.coach .description textarea:not([disabled]) {
    background-color: black;
    padding: .5rem;
    color: var(--color-white);
}

.coach .info .languages li svg{
    width: 1.5rem;
}

.coach .info .teampro svg{
    height: 1.5rem;
    display: inline-block;
}

.coach .info .abilities.cards li > div {
    width: fit-content;
    min-height: fit-content;
    opacity: 1;
}

.coach .info .abilities.cards li:not(:last-of-type) > div {
    border-right: 2px solid var(--color-white);
    margin-right: 1rem;
    padding-right: 1rem;
}

.coach .info .abilities .stars svg {
    margin-left: .5rem;
    width: 19px;
}

.coach .banner figure .input-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    border: 2px solid var(--color-grey);
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border-radius: .25rem;
}

.coach .banner figure .input-button {
    border: 2px solid var(--color-grey);
    z-index: 2;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border-radius: .25rem;
    opacity: .5;
}

.coach .banner figure input:disabled ~ :where(.input-message, .support, .input-button) {
    display: none;
}

.coach .banner figure :where(.input-message, .support) {
    position: absolute;
    left: 50%;
    bottom: calc(2rem + 2px);
    transform: translateX(-50%);
    color: var(--color-grey);
    z-index: 3;
    opacity: .5;
    text-shadow: var(--color-one) 3px 0px 0px, var(--color-one) 2.83487px 0.981584px 0px, var(--color-one) 2.35766px 1.85511px 0px, var(--color-one) 1.62091px 2.52441px 0px, var(--color-one) 0.705713px 2.91581px 0px, var(--color-one) -0.287171px 2.98622px 0px, var(--color-one) -1.24844px 2.72789px 0px, var(--color-one) -2.07227px 2.16926px 0px, var(--color-one) -2.66798px 1.37182px 0px, var(--color-one) -2.96998px 0.42336px 0px, var(--color-one) -2.94502px -0.571704px 0px, var(--color-one) -2.59586px -1.50383px 0px, var(--color-one) -1.96093px -2.27041px 0px, var(--color-one) -1.11013px -2.78704px 0px, var(--color-one) -0.137119px -2.99686px 0px, var(--color-one) 0.850987px -2.87677px 0px, var(--color-one) 1.74541px -2.43999px 0px, var(--color-one) 2.44769px -1.73459px 0px, var(--color-one) 2.88051px -0.838247px 0px;
}

.coach .banner figure .support {
    bottom: 0;
    opacity: 1;
    height: 2rem;
    line-height: 2rem;
    display: block;
}

.coach .banner figure :where(.input-button, .input-message) {
    transition: 500ms;
}

.coach .banner figure:hover :where(.input-button, .input-message) {
    opacity: 1;
}

.coach .banner figure img{
     width: 100%;
     height: 180px;
     object-fit: cover;
     border-radius: .25rem;
}

.coach section.games .cards{
    gap: 2rem;
    margin-top: 0; 
}

.profile ul.abilities.cards .card > div:hover::before {
    display: none;
}

.coach ul.games header * {
    font-size: .7rem;
    -webkit-text-fill-color: var(--color-white);
}
 
.coach section.games figure {
    height: 10rem;
}

.coach section.games header{
    order: 2;
    flex-basis: 100%;
}

.coach section.games main{
    order: 1;
}

.coach section.games ul li{
    padding-top: 0;
}

.coach .tab-menu .tabs svg {
    height: 3rem;
}

.coach .description div{
    background-color: var(--color-black);
}

.coach .blog .card-body{
    padding-top: 1rem;
}

.coach .blog .card h4{
    color: var(--color-white);
}

.coach .blog .card main span{
    display: none;
}

.coach .tab-menu {
    background-color: var(--color-black);
}

.coach .tab-menu .tabs a {
    color: var(--color-two);
    transition: 500ms;
}

.coach .tab-menu .tabs a.opened {
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coach .tab-menu .tabs a.opened svg .cls-1{
    fill: var(--color-four); 
}

.coach .tab-menu .tabs a:not(.opened) svg .cls-1{
    fill: var(--color-three); 
}

.coach .tab-menu .tabs a > div {
    max-width: fit-content;
    text-align: center;
}

.coach .tab-menu .tab-menu-list .btn {
    width: 100%;
}

.coach .tab-menu :where(table, tbody, tr) {
    width: 100%;
}

.coach .tab-menu table td label input {
    display: none;
}

.coach .tab-menu table td label span {
    display: block;
    text-align: center;
    border-radius: .25rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    opacity: .2;
    font-size: .75rem;
}

.coach .tab-menu table td label input:checked + span {
    background-color: var(--color-four);
    opacity: 1;
}

.coach .tab-menu table td label input:not([disabled]) + span {
    cursor: pointer;
}

.coach .info .abilities.cards li > div {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-image-source: none;
}

.coach .abilities .text-profile, .coach .abilities header h4{
    color: var(--color-white);
}

.coach .info .abilities.cards li > div:hover {
    border-image-source: none;
}

.coach .info .teampro figure {
    height: 80%;
}

.coach .info .teampro img {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 100%;
    object-fit: contain;
    min-height: 100%;
    font-size: 0;
    display: block;
}

.coach .tab-menu input[type=number] {
    width: calc(var(--width) + 1rem);
    min-width: 2.8rem;
    background-color: transparent;
    max-width: 10rem;
    -moz-appearance: textfield;
}

.coach .tab-menu .tab-content > div > span{
    border: 1px solid var(--color-four);
    /* border-radius: .25rem; */
}

.coach .tab-menu input[type=number]::-webkit-inner-spin-button, 
.coach .tab-menu input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .coach .tab-menu input[type=number]:disabled {
    width: calc(var(--width) + 1rem);
}

.coach .tab-menu input[type=number]:not(:disabled) {
    min-width: 2.8rem;
} */

.coach .tab-menu input[type=number]:not([disabled]) {
    background-color: black;
}

.coach .tab-menu input[type=number] + span {
    position: fixed;
    left: -100000000px;
}

.coach .horarios{
    border-radius: .25rem;
}

.coach .horarios #online .precio{
    font-family: var(--font-one);
}

.coach .banner .profile{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: calc(100% - 2rem) 0;
}

.coach ul.games figure {
    width: 100%;
}

.coach .clases li{
    background-color: #000;
}

.horarios .offline .cls-1{
    fill: var(--color-three) !important;
}

.coach .tab-menu .tabs a.opened svg .cls-1{
    fill: var(--color-four) !important;
}

/* ? MD */
@media (min-width: 768px) {
    .coach .banner figure img{
         height: 350px;
    }

    .coach .info .abilities.cards li {
        width: 50%;
    }

    .coach .info .abilities.cards li > div {
        width: 100%;
    }

    .coach .info .abilities.cards .card:last-of-type {
        padding-right: .5rem;
    }

    .coach .info .abilities.cards li:nth-of-type(2) > div,
    .coach .info .abilities.cards li:last-of-type > div {
        border: none;
    }

    .coach .tab-menu .tab-menu-list .btn {
        width: 33%;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .coach section.games .cards {
        display: flex;
        overflow: auto;
        padding-bottom: 1rem;
        gap: 0;
    }

    .coach section.games .cards .card {
        width: calc(((100vw - (5rem * 2)) / 3) / 2);
        min-width: calc(((100vw - (5rem * 2)) / 3) / 2);
    }

    .coach section.games .cards .card {
        padding-right: 2rem;
    }

    /* .coach section.games .cards .card:last-of-type:not(:first-of-type, :nth-of-type(2)) {
        width: calc((((100vw / 3) - 7rem) / 2) + 2rem);
        min-width: calc((((100vw / 3) - 7rem) / 2) + 2rem);
        padding-right: 2rem;
    } */

    .coach section.games figure {
        height: 5rem;
    }

    .coach section.games .degradado {
        font-size: .75rem;
    }

    .coach .abilities.cards .card:first-of-type,
    .coach .blog.cards .card:first-of-type {
        padding-left: 2rem;
    }

    .coach .info .abilities.cards {
        overflow: hidden;
    }

    .coach .info .abilities.cards .card:where(:nth-of-type(3), :first-of-type) > div {
        padding-left: 0;
    }

    .coach .info .abilities.cards .card:first-of-type {
        padding-left: 0;
    }

    .coach .abilities.cards .card:last-of-type,
    .coach .blog.cards .card:last-of-type {
        padding-right: 2rem;
    }

    .coach .tab-menu {
        position: sticky;
        top: 1rem;
        height: fit-content;
    }

    .coach section.games .cards {
        grid-template-columns: initial;
    }

    .coach .info .abilities.cards::after,
    .coach .info .abilities.cards::before {
        display: none;
    }

    .coach .tab-menu .tab-menu-list .btn {
        width: 100%;
    }

    .coach .tab-menu .update-button {
        position: absolute;
        top: 2rem;
        right: -1.25rem;
        margin: 0;
    }

    .coach .tab-menu .hours-button{
        position: absolute;
        top: 2rem;
        right: -1.25rem;
        margin: 0;
    }

    .coach .tab-menu button.update-button + a.update-button {
        top: 5rem;
    }

}

/* ? XL */
@media (min-width: 1200px) {
    .coach section.games .cards .card a {
        min-width: 100%;
        margin-top: 1px;
    }
    
    .coach section.games .cards:first-of-type .card a {
        margin-left: 1px;
    }

    .coach .abilities.cards .card:first-of-type,
    .coach .blog.cards .card:first-of-type {
        padding-left: 10%;
    }

    .coach section.games .cards .card {
        width: calc(((100vw / 3) - 9rem) / 2);
        min-width: calc(((100vw / 3) - 9rem) / 2);
    }

    .coach section.games .cards .card:last-of-type:not(:first-of-type, :nth-of-type(2)) {
        width: calc((((100vw / 3) - 9rem) / 2) + calc(((100vw / 10) - 4.5rem) + 5rem));
        min-width: calc((((100vw / 3) - 9rem) / 2) + calc(((100vw / 10) - 4.5rem) + 5rem));
        padding-right: calc(((100vw / 10) - 4.5rem) + 5rem);
    }

    .coach .abilities.cards .card:last-of-type,
    .coach .blog.cards .card:last-of-type {
        padding-right: 10%;
    }

    .coach .banner figure {
        margin-left: calc(((100% - (5rem * 5)) / 6) + 5rem);
    }

    .coach .reviews > header {
        padding-left: calc(((100% - (5rem * 5)) / 6) + 5rem);
    }
}

/* ? 2XL */
@media (min-width: 1536px) {
    .coach section.games main {
        width: 100%;
    }
}