.teachers form {
    background-color: var(--color-black);
}

.teachers #order .dropdown-header {
    background-color: var(--color-one);
    border-radius: .25rem;
}

.teachers input[type=search] {
    width: 80%;
    height: 2.5rem;
    border-radius: .25rem;
    background: transparent;
    color: var(--color-white);
    font-family: var(--font-two);
}

.teachers input[type=search]::placeholder {
    font-size: 1rem;
    color: var(--color-grey);
    font-family: var(--font-two);
}

.teachers .dropdown {
    --dropdown-header-background-color-alternative: var(--color-one);
}

.teachers .dropdown label input {
    display: none;
}

.teachers .dropdown label input + span {
    transition: 600ms;
    color: var(--color-three);    
}

.teachers .dropdown label input:checked + span {
    color: var(--color-white);    
}

.teachers .dropdown li{
    padding: .5rem;
}

.teachers .dropdown li label {
    cursor: pointer;
}

.teachers .dropdown li:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grey);
}

.teachers .dropdown-content{
    z-index: 4;
    width: 100%;
}

.teachers #order .dropdown-content{
    color: var(--color-grey);
    background-color: var(--color-one);
}

.teachers + .list .teachers .teacher{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.teachers .dropdown-header span{
    color: var(--color-three);
    font-weight: 600;
    white-space: nowrap;
    padding: 0 .5rem;
}

.teacher .mobile-btn{
    background-color: var(--color-one);
}

.teacher .team-icon figure img{
    height: 56px;
    width: 32px;
    object-fit: cover;
}

.teacher .languages{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.teacher .abilities ul{
    width: 5rem;
}

.teachers .teacher .btn.btn-outline span{
    background-color: var(--color-one);
    padding: .5rem 0;
}

.teachers .dropdown-header {
    background-color: var(--color-black);
}

.teachers .dropdown.opened .dropdown-header {
    background-color: var(--color-black);
}

.dropdown.opened .dropdown-header i{
    transform: rotateX(180deg);
}

.teachers .dropdown-content{
    width: fit-content;
    min-width: 100%;
    z-index: 10;
    border-radius: .25rem;
}

.teachers .dropdown-content li label span {
    white-space: nowrap;
}

.teachers .teacher main{
    position: relative;
}

.teachers .teacher main::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: -1;
    border-radius: .25rem;
}


.teachers #payment div{
    background: var(--color-black);
    color: var(--color-four);
}

.teachers input[type=range] {
    -webkit-appearance: none;
    background: var(--color-three);
    height: .5rem;
    border-radius: 5px;
}

.teachers input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 100vw;
    background: var(--color-four);
    cursor: pointer;
    -webkit-appearance: none;
  }


div.range-slider {
    position: relative;
    text-align: center;
}
div.range-slider input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    border: none;
    border-radius: 100vh;
    background-color: var(--color-three);
    overflow: hidden;
    left: 0;
    top: 0;
    outline: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
div.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: .75rem;
    height: .75rem;
    border: none;
    border-radius: 100vh;
   /* W3C */
}
div.range-slider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-color: var(--color-two);
}
div.range-slider input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
   /* W3C */
}
div.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
div.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}


/* ? MD */
@media(min-width: 768px){
    /*  */
}

/* ? LG */
@media(min-width: 1024px){
    .teacher .abilities ul{
        width: 100%;
    }
}

/* ? XL */
@media(min-width: 1200px){
    .teacher .username h4{
        font-size: 1.6rem;
    }

    .teacher .username h5{
        font-size: 1.1rem;
    }

    .teacher .abilities ul{
        display: flex;
        flex-wrap: wrap;
    }

    .teacher .abilities ul li{
        width: fit-content;
    }

    .teacher .abilities ul li span{
        font-size: 1rem;
    }

    .teacher .teampro{
        flex-basis: 50%;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}