/* TODO Custom CSS */

.cards-abilities{
    overflow-x: scroll;
    max-width: 100%;
}

.cards-abilities .card{
    opacity: .5;
    background-color: transparent;
    min-width: 66.666666%;
    min-height: 20rem;
    transition: 600ms;
}

.cards-abilities .card:hover{
    opacity: 1;
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    background-color: var(--color-one);
}

.cards-abilities .card figure img{
    width: 300px;
}


.cards-abilities .dificultad svg{
    display: inline-block;
    padding-bottom: .35rem;
}

/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1400px){
   