.abilities.cards {
    overflow-x: scroll;
    max-width: 100%;
    --scroll-color-one: var(--color-two);
    --scroll-color-one-alternative: var(--color-white);
    --scroll-color-two: var(--color-one);
    --scroll-color-two-alternative: var(--color-one);
}

.abilities.cards .card > div {
    opacity: .5;
    border: 1px solid transparent;
    background-color: transparent;
    width: 66.666666vw;
    height: 100%;
    min-height: 100%;
    transition: 600ms;
}

.abilities.cards .card > div > div {
    height: fit-content;
}

.abilities.cards .card:last-of-type {
    padding-right: 2rem;
}

.abilities.cards .card > div:hover{
    opacity: 1;
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    background-color: var(--color-one);
}

.abilities.cards .card figure {
    width: 100%;
    height: 15rem;
}

.abilities.cards .card figure img {
    width: 100%;
    height: 100%;
    min-width: 250px;
    object-fit: cover;
    object-position: right;
}

.abilities.cards .diffculty {
    opacity: 0;
    transition: 500ms;
}

.abilities.cards .card > div:hover .diffculty {
    opacity: 1;
}

.abilities.cards .diffculty svg{
    display: inline-block;
    padding-bottom: .35rem;
}

/* ? MD */
@media(min-width: 768px){
    .abilities.cards .card > div {
        opacity: .5;
        background-color: transparent;
        width: 15rem;
        flex-basis: 15rem;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .abilities.cards .card:first-of-type {
        padding-left: 13rem;
    }

    .abilities.cards .card:last-of-type {
        padding-right: 13rem;
    }

    .abilities.cards::after,
    .abilities.cards::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        pointer-events: none;
    }

    .abilities.cards::before {
        width: calc(100% - (100% - 15rem));
        left: 0;
        background-image: linear-gradient(270deg, transparent 0%, var(--color-black) 100%);
    }

    .abilities.cards::after {
        width: calc(100% - (100% - 30rem));
        right: 0;
        background-image: linear-gradient(90deg, transparent 0%, var(--color-black) 100%);
    }
}

/* ? XL */
@media(min-width: 1200px){
    .abilities.cards .card:first-of-type {
        padding-left: 12rem;
    }

    .abilities.cards .card:last-of-type {
        padding-right: 12rem;
    }

    .abilities.cards::before {
        width: calc(100% - (100% - 12rem));
    }

    .abilities.cards::after {
        width: calc(100% - (100% - 27rem));
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    .abilities.cards .card:first-of-type {
        padding-left: 22rem;
    }
    
    .abilities.cards .card:last-of-type {
        padding-right: 22rem;
    }

    .abilities.cards::before {
        width: calc(100% - (100% - 22rem));
    }

    .abilities.cards::after {
        width: calc(100% - (100% - 44rem));
    }
}