.games .card {
    background-color: var(--color-black);
}

.games .degradado{
    /* background: -webkit-linear-gradient(#FBBF24, #D97706); */
    background: -webkit-linear-gradient(130deg, var(--game-color-one), var(--game-color-two));
}

.games header .degradado{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games figure{
    height: 20rem;
    width: 100%;
    overflow: hidden;
}

.games figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.games .disabled{
    opacity: 0.6;
}

.games .disabled header .degradado{
    background: none;
    color: var(--color-white);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}


/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
    

}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1536px){
    
}