#coach .blog{
    padding-left: 0;
}

#coach input[type=text], #coach input[type=password], #coach input[type=url], #coach textarea, #coach select{
    background: var(--color-black);
    color: var(--color-white);
}

#coach select:disabled {
    opacity: 1;
    appearance: none;
}

#coach textarea{
    color: var(--color-white);
    resize: none;
    height: 10rem;
    resize: none;
    overflow: hidden;
}

#coach .games h2{
    color: var(--color-white);
}

#coach .games .game-name h4{
    color: var(--color-white);
    background: var(--color-black);
}

#coach .date input{
    display: none;
}

#coach .date label span{
    display: block;
    text-align: center;
    border-radius: .25rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    opacity: .2;
    font-size: .75rem;
}

#coach .date label input:not(:disabled) + span {
    cursor: pointer;
}

#coach .date label input:checked + span {
    background-color: var(--color-four);
    opacity: 1;
}

#coach .msg-modal input{
    width: 17em;
}

#coach .profile-photo,
#coach .teampro-photo{
    overflow: hidden;
}

#coach .profile-photo span,
#coach .teampro-photo span{
    padding: .5rem 0;
}

#coach .profile-photo button span,
#coach .teampro-photo button span{
    padding: .5rem 1rem;
}

#coach .profile-photo img,
#coach .teampro-photo img {
    width: 100%;
    max-height: 253px;
    object-fit: contain;
    display: block;
    object-position: bottom center;
    background-color: var(--color-black);
    border-radius: .25rem;
}

#coach .teampro-photo img {
    width: 40px;
    min-height: 56px;
    max-height: 56px;
}

#coach .input-option input[type="checkbox"]:disabled:checked ~ .input-box {
    background: var(--color-four);
    opacity: 1;
    border-color: var(--color-four);
}

#coach ul.achievements li:first-of-type,
#coach ul.reviews li:first-of-type,
#coach ul.blog.cards .card:first-of-type {
    padding-left: 0;
}

#coach .prices label .divisa {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid var(--color-five);
}

#coach .prices label input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}