@import './components/styles.css';

:root {
    --color-one: #281B2D;
    --color-two: #745481;
    --color-three: #846D9D;
    --color-four: #ED6744;
    --color-five: #FBF19C;
    --color-black: #0D0D0D;
    --color-white: #EEEEEE;
    --color-grey: #8F8C90;
    --color-red: #B91C1C;
    --font-one: ;  /* Tipografia para encabezados */
    --font-two: 'Overpass', sans-serif;  /* Tipografia para textos */

    /* ? NavMenu */
    --navmenu-title-color: var(--color-white);
    --navmenu-button-color: var(--color-white);
    --navmenu-button-color-alternative: var(--color-four);
    --navmenu-background-color: purple;
    --navmenu-background-color-alternative: purple;
    --navmenu-border-color: purple;
    --navmenu-border-color-alternative: purple;
    --navmenu-icon-color: var(--color-five);
    --navmenu-icon-color-alternative: var(--color-four);

    /* ? Sideabar */
    --sidebar-title-color: var(--color-white);
    --sidebar-button-color: var(--color-white);
    --sidebar-button-color-alternative: var(--color-four);
    --sidebar-background-color: var(--color-black);
    --sidebar-background-color-alternative: var(--color-black);
    --sidebar-border-color: transparent;
    --sidebar-border-color-alternative: purple;
    --sidebar-icon-color: purple;
    --sidebar-icon-color-alternative: purple;
    
    /* ? Dropdown */
    --dropdown-header-color: purple;
    --dropdown-header-color-alternative: purple;
    --dropdown-header-background-color: transparent;
    --dropdown-header-background-color-alternative: transparent;
    --dropdown-content-color: purple;
    --dropdown-content-color-alternative: purple;
    --dropdown-content-background-color: var(--color-black);
    --dropdown-content-background-color-alternative: purple;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:is(input, button, textarea):focus {
    outline: none;
}

:is(input, textarea):focus {
    box-shadow: 0 0 0 2px var(--color-four);
                /* 0 0 0 2px var(--color-black),
                0 0 0 3px var(--color-four); */
}

.nav-menu {
    background: var(--color-black);
}

body {
    background-color: var(--color-one);
}

:is(h1, h2, h3, h4) {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: .8rem;
}

p, li, a, span, textarea, textarea::placeholder,  input,  input::placeholder, label, button{
    font-family: var(--font-two) !important;
}

::selection {
    color: var(--color-white);
    -webkit-text-fill-color: initial;
    background: var(--color-four);
}

/* ? MD */
@media(min-width: 768px){
    /*  */
}

/* ? LG */
@media(min-width: 1024px){
    .cards::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .cards::-webkit-scrollbar-button {
        width: 15%;
        height: 15%;
    }

    .cards::-webkit-scrollbar-thumb {
        background: var(--scroll-color-one);
        border-radius: 100vh;
    }

    .cards::-webkit-scrollbar-thumb:hover,
    .cards::-webkit-scrollbar-thumb:active {
        background: var(--scroll-color-one-alternative);
    }

    .cards::-webkit-scrollbar-track {
        background: var(--scroll-color-two);
        border-radius: 100vh;
    }

    .cards::-webkit-scrollbar-track:hover,
    .cards::-webkit-scrollbar-track:active {
        background: var(--scroll-color-two-alternative);
    }

    .cards::-webkit-scrollbar-corner {
        background: transparent;
    }
}

/* ? XL */
@media(min-width: 1200px){
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}