@import './components/styles.css';

* {
    --color-one: #281B2D;
    --color-two: #745481;
    --color-three: #846D9D;
    --color-four: #ED6744;
    --color-five: #FBF19C;
    --color-black: #0D0D0D;
    --color-white: #EEEEEE;
}

/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1400px){
    
}