#assigment.modal :where(.form-input, textarea, #url) {
    background-color: var(--color-one);
    padding-left: 1rem;
    color: #fff;
    font-size: .8rem;
    font-size: var(--font-one);
}

#assigment.modal #url{
    font-size: var(--font-one);
}

#assigment.modal :where(textarea, input)::placeholder {
    color: var(--color-grey) !important;
}

#assigment.modal textarea{
    resize: none;
    font-size: var(--font-one);
}

#assigment.modal #myVideo{
    display: flex;
    justify-content: center;
    background-color: var(--color-one);
}

#assigment.modal #myVideo iframe{
    width: 100%;
    height: 20rem;
}

#assigment.modal h3{
    font-size: 1.1rem;
}

#assigment.modal h3 span{
    padding-right: 0.5rem;
}

#assigment.modal form .abilities label > div {
    border: 1px solid var(--color-white);
    opacity: .2;
    cursor: pointer;
}

#assigment.modal form .abilities label input[type=checkbox]:checked + div{
    opacity: 1;
}

#assigment.modal form .abilities label > div svg {
    height: 18px;
}

#assigment.modal form .abilities label:not(:last-of-type){
    margin-right: 1rem;
}

#assigment.modal button{
    border-radius: .3rem;
}

#assigment.modal .form-submit span{
    border-radius: .3rem;
    font-family: var(--font-one) !important;
}

#assigment.modal select{
    background-color: var(--color-one);
    color: var(--color-grey);
    box-shadow: none;
    outline: none;
}

/* ? MD */
@media(min-width: 768px){
    /*  */
}

/* ? LG */
@media(min-width: 1024px){
    /*  */
}

/* ? XL */
@media(min-width: 1200px){
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}