#chat.modal {
    z-index: 10;
}

#chat.modal .modal-content::before {
    display: none;
}

#chat.modal {
    --modal-background-color: transparent;
}

#chat.modal #list .modal-button {
    top: -2rem;
    right: 0;
    width: 2rem;
    height: 2rem;
}

#chat.modal .modal-button:hover {
    color: var(--color-four);
}

#chat.modal .modal-button i {
    font-size: 1.5rem;
    transition: 500ms;
}

#chat.modal .modal-button.disabled i {
    filter: grayscale(1);
}

#chat.modal > section {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

#chat.modal #list form {
    display: flex;
    background-color: var(--color-one);
}

#chat.modal #list form input {
    flex-basis: 100%;
    background-color: transparent;
    color: var(--color-white);
}

#chat.modal #list form input:focus {
    outline: none;
}

#chat.modal #list form svg {
    width: 1rem;
    height: 1rem;
}

#chat.modal #list ul {
    display: flex;
    flex-wrap: wrap;
}

#chat.modal #list li {
    flex-basis: 100%;
}

#chat.modal #list ul li.order-0 {
    margin-top: 0;
}

#chat.modal #list li a {
    transition: 500ms;
    position: relative;
}

#chat.modal #list li a:hover {
    color: var(--color-four);
}

#chat.modal #list li a .icon {
    position: absolute;
    top: 0;
    right: 25%;
    height: 100%;
    transition: 500ms;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat.modal #list li a:hover .icon {
    right: 1rem;
    color: var(--color-four);
    opacity: 1;
}

#chat.modal #list .sections:not(:last-child) .header:not(.hidden) {
    display: block;
    font-size: 1.5rem;
}

#chat.modal #list .sections li a p {
    display: flex;
    align-items: center;
}

#chat.modal #list .sections li .image img {
    min-width: 38px;
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 100vh;
}

#chat.modal #list .sections li a p span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 7rem;
    overflow: hidden;
}

#chat.modal #details > a {
    transition: 500ms;
}

#chat.modal #details > a:hover {
    color: var(--color-four);
}

#chat.modal #details header {
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
    height: 4.6rem;
}

#chat.modal #details header span {
    transition: 500ms;
    height: fit-content;
}

#chat.modal #details header img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 100vh;
}

#chat.modal #details header :where(span, p):hover {
    color: var(--color-four);
}

#chat.modal #details footer {
    display: flex;
    justify-content: space-between;
    height: 4.6rem;
    background-color: black;
}

#chat.modal #details footer p {
    display: flex;
    align-items: center;
    height: 100%;
}

#chat.modal #details footer .unavailable {
    flex-basis: 100%;
    justify-content: center;
}

#chat.modal #details footer form {
    display: flex;
    flex-basis: 100%;
    background-color: black;
    height: 100%;
}

#chat.modal #details footer form input {
    flex-basis: 100%;
    background-color: transparent;
    color: var(--color-white);
}

#chat.modal #details footer form input:focus {
    outline: none;
}

#chat.modal #details main,
#chat.modal #details main ul {
    height: calc(100vh - (4.6rem * 2));
    max-height: calc(100vh - (4.6rem * 2));
}

#chat.modal #details main ul {
    overflow: auto;
}

#chat.modal #details main li {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#chat.modal #details main li > div {
    --color-to-left: var(--color-five);
    --color-to-right: var(--color-four);
    --color-from: var(--color-two);
    width: 75%;
    color: var(--color-black);
    border-radius: 2rem;
    margin-bottom: 1rem;
}

#chat.modal #details main li > div::before {
    content: '';
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
}

/* #chat.modal #details main li.not-available {
    position: absolute;
    background: linear-gradient(180deg, transparent, var(--color-black));
    bottom: 0;
    left: 0;
    width: 100%;
} */

#chat.modal #details main li.to div {
    background: linear-gradient(130deg, var(--color-to-left), var(--color-to-right));
    border-top-left-radius: 0;
    border-bottom-left-radius: 1rem;
}

#chat.modal #details main li.to + li.to div {
    border-top-left-radius: 1rem;
}

#chat.modal #details main li.to div::before {
    left: 1px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: var(--color-to-left);
}

#chat.modal #details main :where(li.to + li.to, li.from + li.from) div::before {
    display: none;
}

#chat.modal #details main li.from div {
    color: var(--color-black);
    background-color: var(--color-from);
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    margin-left: 25%;
}

#chat.modal #details main li.from + li.from div {
    border-top-right-radius: 1rem;
}

#chat.modal #details main li.from div::before {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: var(--color-from);
}

#chat.modal #details main li.abilities input {
    display: none;
}

#chat.modal #details main li.abilities input:not(:disabled) + label {
    cursor: pointer;
}

#chat.modal #details main li.abilities input:not(:checked) + label {
    opacity: .5;
}

#chat.modal #details main li.assigment div {
    width: 100%;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 0;
}

#chat.modal #details main li.assigment div::before {
    display: none;
}

#chat.modal #details main li.assigment div a {
    justify-content: center;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: var(--color-grey);
    font-weight: bold;
    border-radius: 100vh;
    border: 1px solid var(--color-black);
    box-shadow: 0 0 0 1px var(--color-black), 0 0 0 2px var(--color-grey);
    transition: 500ms;
}

#chat.modal #details main li.assigment div a.complete,
#chat.modal #details main li.assigment div a.complete:hover {
    color: var(--color-five);
    box-shadow: 0 0 0 1px var(--color-black), 0 0 0 2px var(--color-five);
    background-color: var(--color-one);
}

#chat.modal #details main li.assigment div a:not(.complete) .loading .spinner-icon {
    border-top-color: var(--color-white);
    border-left-color: var(--color-white);
}

#chat.modal #details main li.assigment div a:hover {
    color: var(--color-white);
    box-shadow: 0 0 0 1px var(--color-black), 0 0 0 2px var(--color-white);
}

#chat.modal #details main li.assigment div a:focus {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    box-shadow: 0 0 0 1px var(--color-black), 0 0 0 2px var(--color-white);
}

#chat.modal #details main li:last-of-type {
    margin-bottom: 0;
}

#chat.modal #details footer form a {
    border-right: 1px solid var(--color-grey);
    font-size: 1.5rem;
}

#chat #details header a:first-child.disabled,
#chat #details footer .assigment.disabled {
    filter: grayscale(1);
}

#chat.modal #details .question {
    position: absolute;
    top: .5rem;
    right: .25rem;
    width: 1rem;
    height: 1rem;
    color: var(--color-white);
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
    z-index: 2;
}

#chat.modal #details .timer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(180deg, transparent, var(--color-black) 35%);
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

a[href="#chat"].modal-button.chat {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 5rem;
    height: 5rem;
    opacity: .4;
    transition: 500ms;
    z-index: 2;
}

a[href="#chat"].modal-button.chat:hover { 
    opacity: 1;
}

a[href="#chat"].modal-button.chat figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    border-radius: 100vh;
    height: 100%;
    overflow: hidden;
}

a[href="#chat"].modal-button.chat figure svg{
    width: 70%;
}

a[href="#chat"].modal-button.chat img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

a[href="#chat"].modal-button.chat span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-four);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--color-white);
}

/* ? MD */
@media(min-width: 768px){
    #chat.modal > section {
        width: calc(100vw / 2);
        height: 50vh;
        max-height: 50vh;
        margin: 1rem;
        right: 8rem;
        left: initial;
    }

    #chat.modal #details main,
    #chat.modal #details main ul {
        height: calc(50vh - (4.6rem * 2));
        max-height: calc(50vh - (4.6rem * 2));
    }
}

/* ? LG */
@media(min-width: 1024px){
    #chat.modal > section {
        width: calc(100vw / 3);
        height: 75vh;
        max-height: 75vh;
    }

    #chat.modal #details main,
    #chat.modal #details main ul {
        height: calc(75vh - (4.6rem * 2));
        max-height: calc(75vh - (4.6rem * 2));
    }

    #chat.modal #details ul::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    #chat.modal #details ul::-webkit-scrollbar-button {
        width: 15%;
        height: 15%;
    }

    #chat.modal #details ul::-webkit-scrollbar-thumb {
        background: var(--color-white);
        border-radius: 100vh;
    }

    #chat.modal #details ul::-webkit-scrollbar-thumb:hover,
    #chat.modal #details ul::-webkit-scrollbar-thumb:active {
        background: var(--color-grey);
    }

    #chat.modal #details ul::-webkit-scrollbar-track {
        background: black;
        border-radius: 100vh;
    }

    #chat.modal #details ul::-webkit-scrollbar-track:hover,
    #chat.modal #details ul::-webkit-scrollbar-track:active {
        background: black;
    }

    #chat.modal #details ul::-webkit-scrollbar-corner {
        background: transparent;
    }
}

/* ? XL */
@media(min-width: 1200px){
    #chat.modal > section {
        width: calc((100vw / 10) * 3);
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}