#poll.modal .modal-header figure{
    height: 2rem;
}

#poll.modal .modal-header figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#poll.modal .welcome{
    font-size: 3rem;
}

#poll.modal .dots li{
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #692e1d;
    cursor: pointer;
}

#poll.modal .dots li.active{
    background-color: var(--color-four);
}

#poll.modal p{
    line-height: 1.6rem;
}

#poll.modal h2{
    font-size: 1.4rem;
}

#poll.modal .cards ul {
    list-style-type: none;
  }
  
#poll.modal .cards li {
    display: inline-block;
  }
  
#poll.modal .cards input[type="radio"][id^="cb"] {
    display: none;
  }
  
#poll.modal .cards label,
#poll.modal .text-cards label {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

#poll.modal .cards label:before, 
#poll.modal .text-cards label:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px; 
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: -1;
    border-radius: .25rem;
}
  
  
#poll.modal .cards label img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

#poll.modal .cards :not(input:checked) + label,
#poll.modal .text-cards .opcional :not(input:checked) + label{
    opacity: .5;
}

#poll.modal .cards .opcional label span,
#poll.modal .text-cards .opcional label span{
    background: var(--color-one);
    display: block;
    color: var(--color-grey);
    border-radius: .25rem;
}

#poll.modal .cards .opcional label::after,
#poll.modal .text-cards .opcional label::after {
    content: "";
    position: absolute;
    left: 9px;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 100vh;
    width: 18px;
    height: 18px;
    background: var( --color-grey);
    box-shadow: inset 0 0 0 1px var( --color-white);
    margin-right: 2rem;
  }

#poll.modal .cards .opcional label span, 
#poll.modal .text-cards .opcional label span{
    line-height: 1.2rem;
}




#poll.modal .text-cards .text-card svg{
    height: 2rem;
}

#poll.modal .text-cards .text-card label::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px; 
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-radius: .25rem;
}

#poll.modal .text-cards .text-card label section {
    position: inherit;
    border-radius: .25rem;
    background-color: var(--color-black);
}

#poll.modal .text-cards .text-card label section *{
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#poll.modal .text-cards .text-card input:not(:checked) + label section *{
    background: var(--color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#poll.modal .text-cards li input:not(:checked) + label::before{
    background: var(--color-white);
}

#poll.modal .cards .text-cards li input:not(:checked) + label section *{
    background: var(--color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#poll.modal .cards .secciones{
    position: relative;
}

#poll.modal .cards .secciones a{
    background: url("/img/01-background.png") no-repeat center center;
    background-size: cover;
    position: inherit;
    border-radius: .25rem;
}

#poll.modal .cards .arrow{
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    font-size: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-one);
    cursor: pointer;
    padding: .5rem;
    border-radius: 100vh;
}

#poll.modal .cards .secciones::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px; 
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-radius: .25rem;
    opacity: 0;
}

#poll.modal .cards .secciones:hover::before{
    opacity: 1;
}

/* ? MD */
@media(min-width: 768px){
    #poll.modal .modal-content {
        width: 50%;
    }
}

/* ? LG */
@media(min-width: 1024px){
    #poll.modal .form-submit{
        width: 15rem;
    }

    #poll.modal .card input + label{
        height: 12rem;
    }

    #poll.modal .card .check-text{
        height: auto;
    }

    #poll.modal .dupla-poll button{
        width: initial;
    }

    #poll.modal .cards header h3{
        font-size: 1.2rem;
    }

    #poll.modal .cards header + main p{
        font-size: .9rem;
    }
}

/* ? XL */
@media(min-width: 1200px){
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}