#presentation.modal {
    z-index: 11;
}

#presentation.modal :where(.form-input, input[name=url]) {
    background-color: var(--color-one);
    padding-left: 1rem;
    color: #fff;
    font-size: .8rem;
    font-size: var(--font-one);
    border-radius: .25rem;
}

#presentation.modal :where(:not(textarea).form-input, input[name=url]):disabled {
    background: var(--color-black);
    padding: 0;
    color: var(--color-white);
    appearance: none;
}

#presentation.modal [name='title'].form-input:disabled {
    color: var(--color-four);
}

#presentation.modal input[name=url]{
    font-size: var(--font-one);
}

#presentation.modal input[name=url]:disabled {
    display: none;
}

#presentation.modal :where(textarea, input)::placeholder {
    color: var(--color-grey) !important;
}

#presentation.modal textarea{
    resize: none;
    font-size: var(--font-one);
}

#presentation.modal #presentation-video{
    display: flex;
    justify-content: center;
    background-color: var(--color-one);
    border-radius: .25rem;
}

#presentation.modal #presentation-video iframe{
    width: 100%;
    height: 20rem;
    border-radius: .25rem;
}

#presentation.modal h3{
    font-size: 1.1rem;
}

#presentation.modal h3 span{
    padding-right: 0.5rem;
}

#presentation.modal form .abilities label input:not(:disabled) div {
    cursor: pointer;
}

#presentation.modal form .abilities label > div {
    border: 1px solid var(--color-white);
    opacity: .2;
    border-radius: .25rem;
}

#presentation.modal form .abilities label input[type=checkbox]:checked + div{
    opacity: 1;
}

#presentation.modal form .abilities label input[type=checkbox]:disabled:not(:checked) + div{
    display: none;
}

#presentation.modal form .abilities label > div svg {
    height: 18px;
}

#presentation.modal .form-submit span{
    border-radius: .3rem;
    font-family: var(--font-one) !important;
}

#presentation.modal select{
    background-color: var(--color-one);
    color: var(--color-grey);
    box-shadow: none;
    outline: none;
    border-radius: .25rem;
}

#presentation .abilities label{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#presentation .btn.btn-one span {
    background-color: transparent;
}

/* ? MD */
@media(min-width: 768px){
    /*  */
}

/* ? LG */
@media(min-width: 1024px){
    /*  */
}

/* ? XL */
@media(min-width: 1200px){
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}