@keyframes backgroundRotationX {
    0%{
        background-position:0% 50%;
    } 50%{
        background-position:100% 50%;
    } 100%{
        background-position:0% 50%;
    }
}

@keyframes backgroundRotationY {
    0% {
        background-position:50% 0%;
    } 50%{
        background-position:50% 100%;
    } 100%{
        background-position:50% 0%;
    }
}

@keyframes b-ripple {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

@keyframes b-ripple-duplicate {
	0% {
		transform: scale(0);
	}

	30% {
		transform: scale(1);
	}

	60% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}