.btn {
    --color-left: var(--color-five);
    --color-right: var(--color-four);
    --color-solid: var(--color-black);
    --border: var(--color-four);
    position: relative;
    font-weight: bold;
    border-radius: .25rem;
    z-index: 1;
    color: var(--color-left);
}

.btn:focus {
    outline: none;
}

/* * Button outline */
.btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-left), var(--color-right));
    border-image-slice: 1;
    transition: color 500ms, text-shadow 500ms;
    text-align: center;
}

.btn.btn-outline:focus {
    border: 1px solid var(--color-left);
    box-shadow: 0 0 0 1px var(--color-right),
                0 0 0 2px var(--color-left);
}

.btn.btn-outline:not(.not):hover {
    outline: none;
    text-shadow: 0 0 1px var(--color-left), 0 0 5px var(--color-left), 2px 2px 2px rgba(206,89,55,0);
}

.btn.btn-outline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-left), var(--color-right));
    border-image-slice: 1;
    opacity: 0;
    z-index: -1;
    transition: 500ms;
    filter: blur(3px);
}

.btn.btn-outline:not(.not):hover::before {
    opacity: 1;
}

/* * Button icon */
.btn.btn-icon {
    background-color: var(--color-solid);
    /* border: 1px solid var(--color-left); */
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var( --color-left);
    font-size: 1rem;
}

.btn.btn-icon:focus {
    box-shadow: 0 0 0 1px var(--color-right),
                0 0 0 2px var(--color-left);
}

.btn.btn-icon:not(.not):hover {
    outline: none;
    text-shadow: 0 0 1px var(--color-left), 0 0 5px var(--color-left), 2px 2px 2px rgba(206,89,55,0);
}

/* * Button text */
.btn.btn-text {
    color: var(--color-right);
    transition: color 500ms;
}

.btn.btn-text:hover {
    color: var(--color-left);
}

/* * Button background */
.btn.btn-background {
    background: linear-gradient(130deg, var(--color-left), var(--color-right));
    color: var(--color-solid);
    border-radius: 0;
}

.btn.btn-background::before {
    content: '';
    position: absolute;
    left: -6px;
    top: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    background: transparent;
    border: 3px solid;
    border-image-source: linear-gradient(130deg, var(--color-left), var(--color-right));
    border-image-slice: 1;
    opacity: 0;
    z-index: -1;
    transition: 500ms;
}

.btn.btn-background:hover::before {
    opacity: 1;
}

/* * Button border */
.btn.btn-border {
    border: 2px solid transparent;
    color: var(--color-left);
    transition: border-color 500ms;
}

.btn.btn-border:hover {
    border-bottom-color: var(--border);
}

/* * Button colors */
.btn.btn-two {
    --color-left: var(--color-two);
    --color-right: var(--color-one);
    --border: var(--color-one);
}

.btn.btn-three {
    --color-left: var(--color-four);
    --color-right: var(--color-red);
    --border: var(--color-red);
}

.btn.btn-white {
    --color-left: var(--color-four);
    --color-right: var(--color-white);
    --border: var(--color-black);
}