.btn {
    --color-left: var(--color-five);
    --color-right: var(--color-four);
    --color-solid: var(--color-black);
    --border: var(--color-four);
    position: relative;
    border-radius: .25rem;
    z-index: 1;
    color: var(--color-left);
}

.btn:focus {
    outline: none;
}

/* * Button outline */
.btn.btn-outline {
    position: relative; 
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-solid);
    transition: color 500ms, text-shadow 500ms;
    text-align: center;
    font-size: .88rem;
}

.btn.btn-outline span{
    position: inherit;
    background-color: var(--color-solid);
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    z-index: 2;
}

.btn.btn-outline::before{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: .25rem;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(130deg , var(--color-left), var(--color-right));
    z-index: 1;
}


.btn.btn-outline.hidden {
    display: none;
}

.btn.btn-outline:focus {
    border: 1px solid var(--color-left);
    box-shadow: 0 0 0 1px var(--color-right),
                0 0 0 2px var(--color-left);
}

.btn.btn-outline:not(.not):hover {
    outline: none;
    text-shadow: 0 0 1px var(--color-left), 0 0 5px var(--color-left), 2px 2px 2px rgba(206,89,55,0);
}

/* * Button icon */
.btn.btn-icon {
    background-color: var(--color-solid);
    /* border: 1px solid var(--color-left); */
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var( --color-left);
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

/* .btn.btn-icon i {
    background: -webkit-linear-gradient(130deg, var(--color-left), var(--color-right));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.btn.btn-icon.hidden {
    display: none;
}

.btn.btn-icon:focus {
    box-shadow: 0 0 0 1px var(--color-right),
                0 0 0 2px var(--color-left);
}

.btn.btn-icon:not(.not):hover {
    outline: none;
    text-shadow: 0 0 1px var(--color-left), 0 0 5px var(--color-left), 2px 2px 2px rgba(206,89,55,0);
}

/* * Button text */
.btn.btn-text {
    color: var(--color-right);
    transition: color 500ms;
}

.btn.btn-text:hover {
    color: var(--color-left);
}

/* * Button background */
.btn.btn-background {
    background: linear-gradient(130deg, var(--color-left), var(--color-right));
    color: var(--color-solid);
    border-radius: .25rem;
}

.btn.btn-background::before {
    /* content: ''; */
    position: absolute;
    left: -6px;
    top: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    background: linear-gradient(130deg, var(--color-left), var(--color-right));;
    opacity: 0;
    z-index: -1;
    transition: 500ms;
}

.btn.btn-background:hover::before {
    opacity: 1;
}

/* * Button border */
.btn.btn-border {
    border: 2px solid transparent;
    color: var(--color-left);
    transition: border-color 500ms;
}

.btn.btn-border:hover {
    border-bottom-color: var(--border);
}

/* * Button colors */
.btn.btn-two {
    --color-left: var(--color-two);
    --color-right: var(--color-one);
    --border: var(--color-one);
    --color-solid: var(--color-black);
}

.btn.btn-three {
    --color-left: var(--color-four);
    --color-right: var(--color-red);
    --border: var(--color-red);
    --color-solid: var(--color-black);
}

.btn.btn-four {
    --color-left: var(--color-three);
    --color-right: var(--color-one);
    --border: var(--color-one);
    --color-solid: var(--color-black);
}

.btn.btn-white {
    --color-left: var(--color-five);
    --color-right: var(--color-white);
    --border: var(--color-black);
    --color-solid: var(--color-black);
}

.btn.btn-grey {
    --color-left: var(--color-five);
    --color-right: var(--color-grey);
    --border: var(--color-black);
    --color-solid: var(--color-black);
}

.btn.btn-icon.btn-white {
    color: var( --color-right);
}

.btn.btn-icon.btn-white:focus {
    box-shadow: 0 0 0 1px var(--color-left),
                0 0 0 2px var(--color-right);
}

.btn.btn-icon.btn-white:not(.not):hover {
    text-shadow: 0 0 1px var(--color-right), 0 0 5px var(--color-right), 2px 2px 2px rgba(206,89,55,0);
}