.color-one{
    color: var(--color-one);
}

.color-two{
    color: var(--color-two);
}

.color-three{
    color: var(--color-three);
}

.color-four{
    color: var(--color-four);
}

.color-five{
    color: var(--color-five);
}

.color-black{
    color: var(--color-black);
}

.color-white{
    color: var(--color-white);
}

.color-grey{
    color: var(--color-grey);
}

.color-red{
    color: var(--color-red);
}

.color-gradient{
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}