.footer {
    background-color: #0D0D0D;
    color: #fff;
}

.footer a.discord svg {
    width: 50%;
}

/* ? LG */
@media (min-width: 1024px) {
    .footer .bottombar {
        padding: 1rem 4rem;        
    }

    .footer a.discord svg {
        width: 33%;
    }
}

/* ? XL */
@media (min-width: 1366px) {
    .footer .sitemap {
        padding: 4rem 8rem;        
    }

    .footer .bottombar {
        padding: 1rem 8rem;        
    }

    .footer a.discord svg {
        width: 25%;
    }
}