@import "./modal/achievements.css";
@import "./modal/activity.css";
@import "./modal/assignment.css";
@import "./modal/chat.css";
@import "./modal/change-password.css";
@import "./modal/friends.css";
@import "./modal/login.css";
@import "./modal/poll.css";
@import "./modal/presentation.css";
@import "./modal/reviews.css";
@import "./modal/signin.css";
@import "./modal/hours.css";

.modal .modal-content {
    --modal-content-background-color: var(--color-black);
    border-radius: .25rem;
    overflow: visible;
}

.modal .modal-content::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: .25rem;
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: 1;
}

.modal .modal-content > * {
    position: relative;
    background-color: var(--color-black);
    border-radius: .25rem;
    z-index: 2;
}

.modal .modal-content > .loading {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.modal .modal-content > .loading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background: var(--color-black);
    z-index: -1;
    opacity: .5;
}

.modal .modal-content > .loading .spinner-icon {
    animation: loading-bar-spinner 400ms linear infinite;
    border-top-color: var(--color-five);
    border-left-color: var(--color-five);
}

.modal .modal-content > form {
    width: 100%;
}

#poll.modal .step > main,
.modal .modal-content > form > main {
    max-height: calc(100vh - 4rem);
    width: 100%;
    overflow: auto;
}


#poll.modal .modal-content section{
    max-height: calc(100vh - 4rem);
    width: 100%;
    overflow: auto;
}

/* ? MD */
@media(min-width: 768px){
    .modal .modal-content > form {
        width: 65vw;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .modal .modal-content > form {
        width: 50vw;
    }

    #poll.modal .step > main::-webkit-scrollbar,
    .modal .modal-content > form main::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    #poll.modal .step > main::-webkit-scrollbar-button,
    .modal .modal-content > form main::-webkit-scrollbar-button {
        width: 15%;
        height: 15%;
    }

    #poll.modal .step > main::-webkit-scrollbar-thumb,
    .modal .modal-content > form main::-webkit-scrollbar-thumb {
        background: var(--color-white);
        border-radius: 100vh;
    }

    #poll.modal .step > main::-webkit-scrollbar-thumb:hover,
    .modal .modal-content > form main::-webkit-scrollbar-thumb:hover,
    #poll.modal .step > main::-webkit-scrollbar-thumb:active,
    .modal .modal-content > form main::-webkit-scrollbar-thumb:active {
        background: var(--color-grey);
    }

    #poll.modal .step > main::-webkit-scrollbar-track,
    .modal .modal-content > form main::-webkit-scrollbar-track {
        background: black;
        border-radius: 100vh;
    }

    #poll.modal .step > main::-webkit-scrollbar-track:hover,
    .modal .modal-content > form main::-webkit-scrollbar-track:hover,
    #poll.modal .step > main::-webkit-scrollbar-track:active,
    .modal .modal-content > form main::-webkit-scrollbar-track:active {
        background: black;
    }

    #poll.modal .step > main::-webkit-scrollbar-corner,
    .modal .modal-content > form main::-webkit-scrollbar-corner {
        background: transparent;
    }
}

/* ? XL */
@media(min-width: 1200px){
    .modal .modal-content > form {
        width: 40vw;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}