.nav-menu .nav-title.logo img {
    width: 80%;
}

.nav-menu .nav-menu-list span.nav-link {
    color: var(--color-four);
}

.sidebar .sidebar-body .sidebar-header .sidebar-title {
    width: fit-content;
}


/* ? MD */
@media(min-width: 768px){
    .nav-menu .nav-title.logo img {
        width: 100%;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .nav-menu{
        padding: 0px 10%;
    }

    .nav-menu .landing-search{
        height: 2.5rem;
        padding-left: 1rem;
        width: 14rem;
        background-color: var(--color-one);
        color: var(--color-grey);
    }

    .nav-menu .nav-row:first-of-type {
        flex-basis: 20%;
    }
}

/* ? XL */
@media(min-width: 1200px){
    .nav-menu .nav-title{
        position: relative;
        right: 5px;
    }       

    .nav-menu .landing-search{
        width: 15rem;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    .nav-menu .landing-search{
        width: 30rem;
    }
}