.notification {
    --index: 1;
    top: calc(5.6rem * var(--index));
    z-index: 20;
}

.notification.top {
    top: 5.6rem;
    bottom: initial;
}

.notification.center.top {
    top: 5.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification .notification-header i {
    color: var(--color-white);
}

.notification .notification-message p {
    /* max-width: 15rem; */
    color: var(--color-white);
    font-weight: bold;
}

.notification.notification-error {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-red);
}

.notification.notification-success {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-five);
}

.notification.notification-warning {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-four);
}

.notification .notification-message p {
    font-weight: 500;
}

.notification.notification-error .notification-footer a {
    color: var(--color-four);
}

.notification.notification-error .notification-footer a:hover {
    color: var(--color-red);
}

.notification.notification-success .notification-footer a {
    color: var(--color-five);
}

.notification.notification-success .notification-footer a:hover {
    color: var(--color-four);
}

.notification.notification-warning .notification-footer a {
    color: var(--color-four);
}

.notification.notification-warning .notification-footer a:hover {
    color: var(--color-red);
}