.notification {
    top: 5.6rem;
    z-index: 20;
}

.notification.top {
    top: 5.6rem;
    bottom: initial;
}

.notification.center.top {
    top: 5.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification .notification-header i {
    color: var(--color-white);
}

.notification .notification-message p {
    max-width: 15rem;
    color: var(--color-white);
    font-weight: bold;
}