.sidebar .sidebar-header,
.sidebar .sidebar-footer {
    height: fit-content;
}

.sidebar .sidebar-header .sidebar-title {
    width: auto;
}

.sidebar .sidebar-header .sidebar-button {
    width: 0;
    height: 0;
    overflow: hidden;
}

.sidebar span.sidebar-link {
    color: var(--color-four);
}

.sidebar .sidebar-footer .sidebar-footer-menu-list {
    justify-content: flex-end;
}

.sidebar-footer nav{
    width: 25%;
}

.sidebar .sidebar-header{
    padding: 0 2rem;
}

/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? 2XL */
@media(min-width: 1536px){
    
}