:root {
    --dropdown-header-background-color: var(--color-black);
    --dropdown-header-background-color-alternative: var(--color-black);
    --dropdown-button-color: var(--color-white);
    --dropdown-button-color-alternative: var(--color-white);
    --dropdown-button-background-color: transparent;
    --dropdown-button-background-color-alternative: transparent;
    --dropdown-content-background-color: var(--color-black);

    --calendar-color: var(--color-white);
    --calendar-background-color: transparent;
    --calendar-arrow-button-color: var(--color-black);
    --calendar-arrow-button-background-color: var(--color-four);
    --calendar-arrow-button-color-alternative: var(--color-black);
    --calendar-arrow-button-background-color-alternative: var(--color-five);
    --calendar-date-button-color: var(--color-white);
    --calendar-date-button-background-color: transparent;
    --calendar-date-button-color-alternative: var(--color-black);
    --calendar-date-button-background-color-alternative: var(--color-four);
    --calendar-date-button-disabled-color: var(--color-grey);
    --calendar-date-button-disabled-background-color: transparent;
    --calendar-today-date-button-border-inset-color: var(--color-black);
    --calendar-today-date-button-border-color: var(--color-one);
    --calendar-selected-date-border-inset-color: var(--color-one);
    --calendar-selected-date-border-color: var(--color-four);
}

.calendar-input .days .date input:not(:disabled):checked.selected.withDate + .date-btn {
    --calendar-selected-date-border-inset-color: var(--color-five);
}

.calendar-input .days .date input:not(:disabled):checked.withDate:not(.selected) + .date-btn {
    box-shadow: inset 0 0 0 3px var(--color-five);
}

.calendar-input .month > div button,
.calendar-input .days .date .date-btn {
    border-radius: 100vh;
}

.calendar-input .days .date .date-btn {
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.dropdown.opened .dropdown-header {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-image-slice: 1;
}

.dropdown,
.dropdown .dropdown-header,
.dropdown .dropdown-content {
    border-radius: .25rem;
}

.dropdown .dropdown-header h2 {
    font-size: 1.5rem;
}

.dropdown .dropdown-main {
    width: 100%;
    border-radius: .25rem;
    background-color: var(--dropdown-content-background-color);
}

.cart {
    border-radius: .25rem;
    background-color: #161218;
    position: relative;
}

.cart::before {
    border-radius: .25rem;
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: -1;
}

.cart a {
    transition: 500ms;
}

.cart a:hover {
    color: var(--color-five);
}

.hours li {
    min-height: fit-content;
}

.hours input {
    display: none;
}

.hours input:not(:disabled) + label:hover::before,
.hours input:not(:disabled):checked + label::before {
    --color-left: var(--color-five);
    --color-right: var(--color-four);
}

.hours label span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
    font-size: 1rem;
    position: relative;
}

.hours input:not(:disabled) + label span {
    cursor: pointer;
}

.hours input:disabled + label {
    opacity: .4;
    pointer-events: none;
}

.hours label span::after {
    content: '';
    min-width: 1rem;
    height: 1rem;
    background: var(--color-one);
    border-radius: 100vh;
    box-shadow: inset 0 0 0 3px var(--color-black),
                0 0 0 3px var(--color-one);
    appearance: none;
    /* transition: 500ms; */
    border: none;
}

.hours input:not(:disabled):checked + label span {
    --color-solid: var(--color-one);
}

.hours input:not(:disabled) + label span:hover::after {
    background: var(--color-four);
    box-shadow: inset 0 0 0 3px var(--color-black),
                0 0 0 3px var(--color-four);
}

.hours input:not(:disabled):checked + label span::after {
    background: var(--color-four);
    box-shadow: inset 0 0 0 3px var(--color-one),
                0 0 0 3px var(--color-four);
}

.methods .card a {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.methods .card a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.methods .card a input {
    display: none;
}

.methods .card a label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #161218;
    transition: background 500ms;
    text-transform: uppercase;
    border-radius: .25rem;
}

.methods .card a label::before {
    border-radius: .25rem;
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: var(--color-white);
    z-index: -1;
}

.methods .card a input:checked + label,
.methods .card a.opened label,
.methods .card a:hover label {
    background: var(--color-black);
}

.methods .card a input:checked + label::before {
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
}

.methods svg {
    width: 4rem;
}

.btn.btn-outline.btn-white {
    height: fit-content;
}

button[type=submit].btn {
    --color-one: var(--color-four);
    --color-two: var(--color-five);
}

.tab-content h4 {
    font-size: 1.125rem;
}

input[name="credits"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-four);
    transition: border 500ms;
    appearance: none;
}

input[name="credits"]::placeholder {
    color: var(--color-white);
}

input[name="credits"]:focus {
    outline: none;
    border-color: var(--color-four);
}

#credits:focus {
    box-shadow: none;
}

.calendar-input .month {
    font-family: 'Overpass';
}

.hours p, span{
    font-family: 'Overpass';
}

/* ? MD */
@media(min-width: 768px){
    /**/
}

/* ? LG */
@media(min-width: 1024px){
    /**/
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}

/* ? 2XL */
@media(min-width: 1536px){
    /**/
}