.cards {
    --scroll-color-one: var(--color-two);
    --scroll-color-one-alternative: var(--color-white);
    --scroll-color-two: #1a141d !important;
    --scroll-color-two-alternative: #1a141d !important;
}

/* ? Teacher */
.teacher .info .languages li svg{
    height: 50%;
    width: 1.5rem;
}

.teacher .info .teampro svg{
    height: 1.5rem;
    display: inline-block;
}

.teacher .info .abilities.cards li > div {
    width: fit-content;
    min-height: fit-content;
    opacity: 1;
}

.teacher .info .abilities.cards li:not(:last-of-type) > div {
    border-right: 2px solid var(--color-white);
    margin-right: 1rem;
    padding-right: 1rem;
}

.teacher .info .abilities .stars svg {
    margin-left: .3rem;
}

.teacher .banner figure img{
     width: 300px;
     height: 300px;
     object-fit: contain;
 }

 /* games */

.teacher section.games .cards{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.teacher section.games .degradado{
    font-size: 1.25rem;
}
 
.teacher section.games figure {
    height: 10rem;
}

.teacher section.games header{
    order: 2;
    flex-basis: 100%;
}

.teacher section.games main{
    order: 1;
}

.teacher section.games ul li{
    padding-top: 0;
}

.teacher .achievements ul li{
    white-space: nowrap;
    min-width: fit-content;
}

.teacher .achievements ul, .teacher .reviews ul{
    max-width: 100%;
    overflow-x: scroll;
}

.teacher .achievements ul li > div, .teacher .reviews ul li > div {
    min-width: 66.666666vw;
    background-color: var(--color-black);
    height: 100%;
    min-height: 3rem;
}

.teacher .achievements ul li > div > div, .teacher .reviews ul li > div > div {
    height: fit-content;
}

.teacher .achievements ul li:not(:last-of-type), .teacher .reviews ul li:not(:last-of-type) {
    padding-right: 1rem;
}

.teacher .achievements ul li:last-of-type, .teacher .reviews ul li:last-of-type {
    padding-right: 2rem;
}

.teacher .reviews ul li{
    min-height: 3rem;
}

.teacher .reviews ul li div svg{
    height: 1rem;
    margin-top: 3px;
}

.teacher .description div{
    background-color: var(--color-black);
}

.teacher .blog .card main span{
    display: none;
}

.teacher .tab-menu {
    background-color: var(--color-black);
}

.teacher .tab-menu .tabs a {
    color: var(--color-one);
    transition: 500ms;
}

.teacher .tab-menu .tabs a.active {
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teacher .tab-menu .tabs a h4 {
    width: 100%;
    text-align: center;
}

.teacher .tab-menu .btn {
    width: 100%;
    --color-one: var(--color-four);
    --color-two: var(--color-five);
}

.teacher .tab-menu :is(table, tbody, tr) {
    width: 100%;
}

.teacher .tab-menu table td span {
    display: block;
    text-align: center;
    border-radius: .25rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    opacity: .2;
    font-size: .75rem;
}

.teacher .tab-menu table td span.active {
    background-color: var(--color-four);
    opacity: 1;
}

.teacher .info .abilities.cards li > div {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-image-source: none;
}

.teacher .info .abilities.cards li > div:hover {
    border-image-source: none;
}


/* usuario */

.user .data > div{
    background-color: var(--color-black);
    position: relative;
}

.user .data .tag .username span {
    display: block;
    white-space: nowrap;
    max-width: 13rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user .data .tag .teammate{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: .25rem;
}

.user .data .tag .teammate.active {
    background-image: linear-gradient(130deg , var(--color-five), var(--color-four));
}

.user .data .tag .teammate.active path {
    fill: var(--color-black);
}

.user .icons-list svg{
    object-fit: contain;
    width: 40px;
    height: 33px;
}

.user .games header{
    order: 2;
    flex-basis: 100%;
}

.user .games main{
    order: 1;
}

.user > .abilities li {
    background: var(--color-black);
    position: relative;
}

.user > .abilities li > div{
    padding: 1rem;
    margin-bottom: 1rem;
}

.user .abilities .ability > *:not(aside) {
    z-index: 1;
}

.user .abilities .ability aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}

/* reseñas user */
.user .cardota{
    /* background: var(--color-black); */
    /* z-index: -2; */
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    position: relative;
}

.user .cardota::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
    background:url(/img/01-background.png) no-repeat center center;
    background-size: cover;
}

.user .cards .games{
    margin-top: 0;
    margin-bottom: 1rem;
}

.user .cards .games li{
    padding-top: 0rem;
}

.user .games figure{
    height: 6rem;
}

.user .degradado{
    font-size: 0.875rem;
}

.user .btn.btn-one{
    --color-one: var(--color-four);
    --color-two: var(--color-five);
}

.user .reviews .games header .degradado:first-of-type {
    display: none;
}

.user .reviews .games header .degradado.hidden {
    display: block;
}

.user .abilities li > div > div .stars svg {
    width: 1.2rem;
}

.user .reviews .abilities .stars svg {
    width: 1.2rem;
}

.user .reviews .cards header {
    height: 100%;
}

.user .reviews .cards .image figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.user .reviews .cards .image figure img {
    height: 150%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.user .reviews .cards header a:hover {
    padding-right: 0;
}

/* ? MD */
@media (min-width: 768px) {
    .teacher .info .abilities.cards li {
        width: 50%;
    }

    .teacher .info .abilities.cards li > div {
        width: 100%;
    }

    .teacher .info .abilities.cards .card:last-of-type {
        padding-right: .5rem;
    }

    .teacher .info .abilities.cards li:is(:nth-of-type(2), :last-of-type) > div {
        border: none;
    }

    .teacher .achievements ul li > div, .teacher .reviews ul li > div {
        min-width: 15rem;
    }

    .teacher .tab-menu .btn {
        width: 33%;
    }

    .teacher .tab-menu .btn i {
        right: calc(33% + 3rem);
        transition: 500ms;
    }
    
    .teacher .tab-menu .btn:hover i {
        right: 33%;
    }

    /* user */

    .user .data{
        width: 100%;
    }

    .user .games .cards{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 auto;
    }

    .user .games .cards li{
        padding: 0;
        margin-bottom: 1rem;
    }

    .user .games .cards li:is(:nth-last-of-type(2), :last-of-type()){
        margin-bottom: 0;
    }

    .user .games .cards li:nth-of-type(2n + 1){
        margin-right: 1rem;
        padding: 0;
    }

    .user .reviews{
        grid-column: span 3 / span 3;
    }

    .user .icons-list svg {
        width: 30px;
        height: 30px;
    }


    /* abilities */

    .user .abilities li > div{
        height: 100%;
    }

    .user .abilities li > div > div{
        height: fit-content;
    }

    /* reseñas */

    /* .user .reviews .abilities .cards{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    } */

    .user .reviews .cardota .games{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .user .reviews .abilities .stars svg {
        width: 1rem;
    }

    .user .data .tag .username span {
        max-width: 8rem;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .teacher section.games .cards {
        display: flex;
        overflow: auto;
        padding-bottom: 1rem;
    }

    .teacher section.games .cards .card a {
        min-width: calc((100vw / 3) - 2.6rem);
    }

    .teacher section.games .cards .card:last-of-type {
        padding-right: 2rem;
    }

    .teacher .abilities.cards .card:first-of-type,
    .teacher .blog.cards .card:first-of-type {
        padding-left: 2rem;
    }

    .teacher .info .abilities.cards {
        overflow: hidden;
    }

    .teacher .info .abilities.cards .card:is(:nth-of-type(3), :first-of-type) > div {
        padding-left: 0;
    }

    .teacher .info .abilities.cards .card:first-of-type {
        padding-left: 0;
    }

    .teacher .abilities.cards .card:last-of-type,
    .teacher .blog.cards .card:last-of-type {
        padding-right: 2rem;
    }

    .teacher .tab-menu {
        position: sticky;
        top: 1rem;
        height: fit-content;
    }

    .teacher section.games .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .teacher .achievements ul li:last-of-type, .teacher .reviews ul li:last-of-type {
        padding-right: 0;
    }

    .teacher .info .abilities.cards::after,
    .teacher .info .abilities.cards::before {
        display: none;
    }

    .teacher .abilities.cards::before {
        background-image: linear-gradient(270deg, transparent 0%, var(--color-one) 100%);
    }

    .teacher .abilities.cards::after {
        background-image: linear-gradient(90deg, transparent 0%, var(--color-one) 100%);
    }

    .teacher .tab-menu .btn {
        width: 100%;
    }

    .user .reviews{
        grid-column: span 2 / span 2;
    }

    .user .data{
        width: 100%;
        position: sticky;
        top: 1rem;
        height: fit-content;
    }

    .user .games li{
        /* width: 12rem; */
        margin-left: 0;
    }

    .user .games .cards{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
    }

    .user .games .cards li:nth-of-type(2n + 1){
        margin-right: 0;
        padding: 0;
    }

    .user .reviews .abilities .stars svg {
        width: .8rem;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    .teacher section.games .cards .card a {
        min-width: calc(((100vw / 7) * 2) - 1rem);
    }

    .teacher section.games .cards::before {
        content: '';
        width: calc(100vw / 7);
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        right: 0;
        background-image: linear-gradient(90deg, transparent 0%, var(--color-one) 100%);
    }

    .teacher section.games .cards .card:last-of-type {
        padding-right: calc(100vw / 7);
    }

    .teacher .abilities.cards .card:first-of-type,
    .teacher .blog.cards .card:first-of-type {
        padding-left: 12rem;
    }

    .teacher .abilities.cards .card:last-of-type,
    .teacher .blog.cards .card:last-of-type {
        padding-right: 12rem;
    }

    .teacher .achievements ul li:first-of-type, .teacher .reviews ul li:first-of-type {
        padding-left: calc(100vw / 7);
    }

    .teacher .achievements ul li:last-of-type, .teacher .reviews ul li:last-of-type {
        padding-right: calc(100vw / 7);
    }

    .teacher .achievements .cards::after,
    .teacher .achievements .cards::before,
    .teacher .reviews .cards::after,
    .teacher .reviews .cards::before {
        content: '';
        width: calc(100vw / 7);
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        pointer-events: none;
    }

    .teacher .achievements .cards::before,
    .teacher .reviews .cards::before {
        left: 0;
        background-image: linear-gradient(270deg, transparent 0%, var(--color-one) 100%);
    }

    .teacher .achievements .cards::after,
    .teacher .reviews .cards::after {
        right: 0;
        background-image: linear-gradient(90deg, transparent 0%, var(--color-one) 100%);
    }

    .user .reviews{
        grid-column: span 4 / span 4;
    }

    .user .games .cards{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .user .data .tag .username span {
        max-width: 13rem;
    }

    .user .reviews .abilities .stars svg {
        width: 1rem;
    }
}

/* ? 2XL */
@media (min-width: 1536px) {
    .teacher section.games .cards .card a {
        min-width: calc(((100vw / 9) * 2) - 1rem);
    }

    .teacher section.games .cards::before {
        width: calc((100vw / 9) * 2);
    }

    .teacher section.games .cards .card:last-of-type {
        padding-right: calc((100vw / 9) * 2);
    }

    .teacher .abilities.cards .card:first-of-type,
    .teacher .blog.cards .card:first-of-type {
        padding-left: 22rem;
    }

    .teacher .abilities.cards .card:last-of-type,
    .teacher .blog.cards .card:last-of-type {
        padding-right: 22rem;
    }

    .teacher .achievements ul li:first-of-type, .teacher .reviews ul li:first-of-type {
        padding-left: calc((100vw / 9) * 2);
    }

    .teacher .achievements ul li:last-of-type, .teacher .reviews ul li:last-of-type {
        padding-right: calc(100vw / 9);
    }

    .teacher .achievements .cards::-webkit-scrollbar-button,
    .teacher .reviews .cards::-webkit-scrollbar-button {
        width: 20%;
        height: 20%;
    }

    .teacher .achievements .cards::before,
    .teacher .reviews .cards::before {
        width: calc((100vw / 9) * 2);
    }

    .teacher .achievements .cards::after,
    .teacher .reviews .cards::after {
        width: calc(100vw / 9);
    }

    .user .games .cards{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .user .reviews{
        grid-column: span 4 / span 4;
    }

    .user .data .tag .username span {
        max-width: 10rem;
    }
}