@import "./teacher/profile.css";
@import "./user/profile.css";

.cards {
    --scroll-color-one: var(--color-two);
    --scroll-color-one-alternative: var(--color-white);
    --scroll-color-two: #1a141d !important;
    --scroll-color-two-alternative: #1a141d !important;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}