.users .switch-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    border-radius: 50px;
    background-color: var(--color-black);
}

.users .switch-content label {
    margin-right: .5rem;
}

.users .switch-content svg {
    margin-left: .5rem;
    padding: .1rem;
}

.users .switch-content .switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 22px;
    border-radius: 50px;
}

.users .switch-content .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.users .switch-content .degradado{
    background: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
}

.users .switch-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .4s;
}

.users .switch-content .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-one);
    transition: .4s;
}


.users .switch-content input:focus + .slider {
    /* box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7); */
    outline: none;
}

.users .switch-content input:checked + .slider:before {
    transform: translateX(16px);
}

.users .switch-content .slider.round {
    border-radius: 34px;
}

.users .switch-content .slider.round:before {
    border-radius: 50%;
}

:is(.users, .teachers) form {
    background-color: var(--color-black);
}

:is(.users, .teachers) .dropdown-header{
    background-color: var(--color-one);
}

:is(.users, .teachers) .dropdown-header span{
    color: var(--color-grey);
    white-space: nowrap;
    padding: 0 .5rem;
}

:is(.users, .teachers) input[type=search] {
    width: 80%;
    height: 2.5rem;
    border-radius: 0.2rem;
    background: transparent;
    padding-left: 1rem;
    color: var(--color-white);
    font-family: var(--font-two);
}

:is(.users, .teachers) input[type=search]::placeholder {
    font-size: 1rem;
    color: var(--color-grey);
    font-family: var(--font-two);
}

:is(.users, .teachers) .dropdown {
    --dropdown-header-background-color-alternative: var(--color-one);
}

:is(.users, .teachers) .dropdown label input[type=radio] {
    display: none;
}

:is(.users, .teachers) .dropdown label input[type=radio] + span {
    transition: 600ms;
}

:is(.users, .teachers) .dropdown label input[type=radio]:checked + span {
    color: var(--color-white);    
}

:is(.users, .teachers) .dropdown li{
    padding: .5rem;
}

:is(.users, .teachers) .dropdown li label {
    cursor: pointer;
}

:is(.users, .teachers) .dropdown li:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grey);
}

:is(.users, .teachers) .dropdown-content{
    width: 100%;
    color: var(--color-grey);
    background-color: var(--color-one);
}

.users + .list > li{
    background: var(--color-black);
    margin-bottom: 2rem;
}

.users + .list .teammate svg{
    height: 100%;
    width: 3rem;
}

.users + .list .photo svg{
    height: 100%;
}

.users + .list li .btn.btn-one {
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    color: var(--color-five);
    background-color: var(--color-black);
    padding: .4rem;
    font-size: .85rem;
}

.users .lft{
    position: relative;
    font-size: .95rem;
    top: 2px;
    font-weight: 600;
}

.users .ordenar-por{
    font-size: 0.9rem;
    position: relative;
    top: 1px;
}

.users + .list > li:last-of-type {
    margin-bottom: 6rem;
}




.btn-purple a{
    background: var(--color-one) !important;
}

.users .degradado{
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-left), var(--color-right));
    border-image-slice: 1;
}


/* teachers */

.teachers + .list .teachers .teacher{
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.teachers + .list .teachers .teacher:last-child{
  margin-bottom: 5rem;
}





.users + .list li header :where(h3, span) {
    max-width: 6ch;
    min-width: 6ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.users + .list li{
    position: relative;
    border-radius: .25rem;
}

.users + .list li::before{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: .25rem;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(130deg , var(--color-five), var(--color-four));
    z-index: -1;
}

.list .teachers > li:last-of-type {
    margin-bottom: 6rem;
}

:is(.users, .teachers) .dropdown-header span{
    color: var(--color-three);
    font-weight: 600;
}

.teacher .mobile-btn{
    background: var(--color-one);
}

.teacher .team-icon figure img{
    height: 3.5rem;
    width: 45px;
    object-fit: cover;
}

.teacher .languages{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.teacher .abilities ul{
    width: 5rem;
}


.teachers .teacher .btn.btn-outline span {
    background-color: var(--color-one);
    padding: .5rem 0;
}

.teachers #payment a, .teachers #especialidad a, .teachers #disponibilidad a, .teachers #game a{
    background-color: var(--color-black);
}

.teachers #payment .dropdown-content, .teachers #order .dropdown-content{
    width: fit-content;
    z-index: 10;
}

.teachers #payment .dropdown-content li label span{
    white-space: nowrap;
}


.teachers .teacher main{
    position: relative;
}

.teachers .teacher main::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: -1;
    border-radius: .25rem;
}




/* ? MD */
@media(min-width: 768px){
    .users + .list .games figure{
        height: 5rem;
        width: 100%;
        overflow: hidden;
    }
  
    .users + .list .cards{
        gap: 1rem;
        margin-top: 0;
    }

    .users + .list .cards .card header{
        display: none;
    }

    .users + .list .cards{
        display: flex;
        overflow-x: scroll;
        max-width: 100%;
        width: 100%;
    }
    

    .users + .list .cards .card{
        min-width: 50%;
        /* width: 50%; */
    }

    .users + .list li > div:nth-child(4){
        min-width: 25%;
        width: 25%;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-button {
        width: 15%;
        height: 15%;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-thumb {
        background: chartreuse;
        border-radius: 100vh;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-thumb:hover,
    .users + .list li > div:nth-child(4)::-webkit-scrollbar-thumb:active {
        background: cadetblue;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-track {
        background: tomato;
        border-radius: 100vh;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-track:hover,
    .users + .list li > div:nth-child(4)::-webkit-scrollbar-track:active {
        background: yellowgreen;
    }

    .users + .list li > div:nth-child(4)::-webkit-scrollbar-corner {
        background: transparent;
    }

    .users + .list header span {
        max-width: 8ch;
        min-width: 100%;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .teacher .abilities ul{
        width: 100%;
    }
}

/* ? XL */
@media(min-width: 1200px){
    .users + .list li header :where(h3, span) {
        max-width: 12ch;
        min-width: 12ch;
    }

    .teacher .username h4{
        font-size: 1.6rem;
    }

    .teacher .username h5{
        font-size: 1.1rem;
    }

    .teacher .abilities ul{
        display: flex;
        flex-wrap: wrap;
    }

    .teacher .abilities ul li{
        width: fit-content;
    }

    .teacher .abilities ul li span{
        font-size: 1rem;
    }

    .teacher .image, .teacher .payment{
        grid-row: span 1 / span 1;
    }

    .teacher header{
        grid-column: span 4 / span 4;
    }

    .teacher .image{
        grid-column: span 2 / span 2;
    }

    .teacher .image img{
        height: 12rem;
        min-height: 100%;
        object-position: top;
    }

    .teacher .teampro{
        flex-basis: 50%;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    .users + .list li header :where(h3, span) {
        max-width: 30ch;
        min-width: 30ch;
    }

    .teachers + .list .teachers .teacher{
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .teacher header{
        grid-column: span 3 / span 3;
    }
}