ul.blog.cards{
    overflow-x: hidden;
    flex-direction: column;
}

ul.blog.cards li:not(.info){
    margin: 1rem 0;
}

ul.blog.cards .card > :where(a, div) {
    width: 100%;
}

ul.blog.cards .card:first-of-type {
    padding-left: 0;
}

ul.blog.cards .card:last-of-type {
    padding-right: 0;
}

ul.blog.cards .card > a {
    opacity:1;
}

ul.blog.cards .card.info > :where(a, div) {
    background-color: transparent;
    text-align: center;
}

ul.blog.cards .card.info .card-body {
    width: 100%;
}

ul.blog.cards .card.info > :where(a, div) main {
    background-color: transparent;
}

ul.blog.cards .card.info .card-body :where(h1, h2, h3, h4, h5, h6) {
    color: var(--color-grey);
}

.post-content strong {
    color: var(--color-four);
}

.post-content i {
    color: var(--color-five);
}

ul.blog.cards .card .post-content {
    -webkit-line-clamp: 2;
}

/* ? MD */
@media(min-width: 768px){
    ul.blog.cards .card figure {
        width: 33%;
        height: 16rem;
        border-top-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    ul.blog.cards .card .card-body {
        width: calc(100% - 15rem);
    }

    ul.blog.cards .card > a{
        display: flex;
        margin: auto;
        width: 100%;
    }

    ul.blog.cards .card > div{
        display: flex;
        margin: auto;
        width: 100%;
    }

    ul.blog.cards .card > a main {
        border-bottom-left-radius: 0;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        min-height: 12rem;
    }

    ul.blog.cards .card .post-content {
        -webkit-line-clamp: 5;
    }
}

/* ? LG */
@media(min-width: 1024px){
    ul.blog.cards .card:first-of-type {
        padding-left: 0;
    }

    ul.blog.cards::before {
        display: none;
    }

    ul.blog.cards::after {
        display: none;
    }

    ul.blog.cards{
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    ul.blog.cards .card{
        grid-column: span 8 / span 8;
        grid-column-start: 2;
    }
}

/* ? XL */
@media(min-width: 1200px){
    ul.blog.cards{
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    ul.blog.cards .card{
        grid-column: span 8 / span 8;
        grid-column-start: 2;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /* ul.blog.cards{
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    ul.blog.cards .card{
        grid-column: span 5 / span 5;
        grid-column-start: 3;
    } */
}