#teacher .blog{
    padding-left: 0;
}

#teacher input[type=text], #teacher input[type=password], #teacher input[type=url], #teacher textarea, #teacher select{
    background: var(--color-black);
    color: var(--color-white);
}

#teacher select:disabled {
    opacity: 1;
    appearance: none;
}

#teacher textarea{
    color: var(--color-white);
    resize: none;
    height: 10rem;
    resize: none;
    overflow: hidden;
}

#teacher .games h2{
    color: var(--color-white);
}

#teacher .games .game-name h4{
    color: var(--color-white);
    background: var(--color-black);
}

#teacher .date input{
    display: none;
}

#teacher .date label span{
    display: block;
    text-align: center;
    border-radius: .25rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    opacity: .2;
    font-size: .75rem;
}

#teacher .date label input:not(:disabled) + span {
    cursor: pointer;
}

#teacher .date label input:checked + span {
    background-color: var(--color-four);
    opacity: 1;
}

.TODO {
    background: var(--color-black);
    border-radius: .25rem;
}

#teacher .msg-modal input{
    width: 17em;
}

#teacher .profile-photo,
#teacher .teampro-photo{
    overflow: hidden;
}

#teacher .profile-photo span,
#teacher .teampro-photo span{
    padding: .5rem 0;
}

#teacher .profile-photo button span,
#teacher .teampro-photo button span{
    padding: .5rem 1rem;
}

#teacher .profile-photo img,
#teacher .teampro-photo img {
    width: 100%;
    max-height: 253px;
    object-fit: contain;
    display: block;
    object-position: bottom center;
    background-color: var(--color-black);
    border-radius: .25rem;
}

#teacher .teampro-photo img {
    width: 40px;
    min-height: 56px;
    max-height: 56px;
}

#teacher .input-option input[type="checkbox"]:disabled:checked ~ .input-box {
    background: var(--color-four);
    opacity: 1;
    border-color: var(--color-four);
}

#teacher ul.achievements li:first-of-type,
#teacher ul.reviews li:first-of-type,
#teacher ul.blog.cards .card:first-of-type {
    padding-left: 0;
}