figure.profile.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    border-radius: 100vh;
    isolation: isolate;
}

figure.profile.image:not(.default) {
    top: 2px;
    left: 2px;
}

figure.profile.image.default {
    width: 2.5rem;
    height: 2.5rem;
}

figure.profile.image:not(.default)::before {
    content: "";
    position: absolute;
    inset: -2px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100vh;
    background-image: linear-gradient(130deg, var(--color-five), var(--color-four));
    z-index: -1;
}

figure.profile.image img {
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    object-fit: cover;
    background-color: var(--color-one);
}

figure.profile.image svg {
    width: 100%;
    height: 100%;
}