.user .banner > figure {
    width: 100%;
    height: 60vh;
    background: url('../../../img/01-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.user .banner figure .input-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.user .banner figure input:disabled ~ :where(.input-message, .support, .input-button) {
    display: none;
}

.user .banner figure .input-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(60vh - 4rem);
    border-radius: .25rem;
    border: 2px solid var(--color-grey);
    opacity: .5;
}

.user .banner figure .input-message {
    font-size: 1.5rem;
}

.user .banner figure :where(.input-message, .support) {
    position: absolute;
    left: 50%;
    bottom: calc(2rem + 2px);
    transform: translateX(-50%);
    color: var(--color-grey);
    z-index: 3;
    opacity: .5;
    text-shadow: var(--color-one) 3px 0px 0px, var(--color-one) 2.83487px 0.981584px 0px, var(--color-one) 2.35766px 1.85511px 0px, var(--color-one) 1.62091px 2.52441px 0px, var(--color-one) 0.705713px 2.91581px 0px, var(--color-one) -0.287171px 2.98622px 0px, var(--color-one) -1.24844px 2.72789px 0px, var(--color-one) -2.07227px 2.16926px 0px, var(--color-one) -2.66798px 1.37182px 0px, var(--color-one) -2.96998px 0.42336px 0px, var(--color-one) -2.94502px -0.571704px 0px, var(--color-one) -2.59586px -1.50383px 0px, var(--color-one) -1.96093px -2.27041px 0px, var(--color-one) -1.11013px -2.78704px 0px, var(--color-one) -0.137119px -2.99686px 0px, var(--color-one) 0.850987px -2.87677px 0px, var(--color-one) 1.74541px -2.43999px 0px, var(--color-one) 2.44769px -1.73459px 0px, var(--color-one) 2.88051px -0.838247px 0px;
}

.user .banner figure .support {
    bottom: -9rem;
    opacity: 1;
    height: 2rem;
    line-height: 2rem;
    display: block;
}

.user .banner figure :where(.input-button, .input-message) {
    transition: 500ms;
}

.user .banner figure:hover :where(.input-button, .input-message) {
    opacity: 1;
}

.user .profile-image input:disabled ~ :where(.input-message, .support, .input-button) {
    display: none;
}

.user .banner .actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.user .data {
    border-radius: .25rem;
}

.user .profile-image .input-button {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-radius: 100vh;
}

.user .profile-image input:disabled ~ :where(.input-message, .support, .input-button) {
    display: none;
}

.user .profile-image .input-message {
    display: none;
}

.user .profile-image .input-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.user > .abilities li > div {
    border-radius: .25rem;
}

.user .data > div {
    background-color: var(--color-black);
    position: relative;
    border-radius: .25rem;
}

.user .data .btn.btn-icon {
    position: absolute;
    top: 2.9rem;
    left: 0;
}

.user .data button.btn.btn-icon:first-of-type {
    top: 3.4rem;
}

.user .data button + a.btn.btn-icon {
    top: 6.4rem;
}

.user .data .tag .username {
    flex-basis: 75%;
}

.user .data .tag .username input {
    background: transparent;
    padding: 0;
    transition: 500ms;
    cursor: text;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user .data .tag .username span input.hidden[value=""] {
    display: none;
}

.user .data .tag .username input:not([disabled]) {
    background: black;
    padding: .25rem .5rem;
}

.user .data .tag .username span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: initial;
}

.user .data .tag .teammate{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--color-black);
    border-radius: 100vh;
}

.user .data .tag .teammate span {
    display: block;
    width: 100%;
    height: fit-content;
}

.user .data .tag .teammate input:not(:disabled) + span {
    cursor: pointer;
}

.user .data .tag .teammate input:not(:checked) + span {
    filter: grayscale();
}

.user .icons-list svg{
    object-fit: contain;
    width: 40px;
    height: 33px;
}

.user > .games header,
.user .reviews .games header{
    order: 2;
    flex-basis: 100%;
}

.user > .games ul {
    margin-top: 2rem;
}

.user > .games ul li:not(:last-child) {
    margin-bottom: 2rem;
}

.user ul.games header * {
    font-size: .7rem;
    -webkit-text-fill-color: var(--color-white);
}

.user > .games main{
    order: 1;
}

.user >.games header .degradado {
    -webkit-text-fill-color: var(--color-white);
}

.user > .abilities li > div{
    background: var(--color-black);
    position: relative;
}

.user > .abilities li:not(:last-of-type) > div {
    margin-bottom: 2rem;
}

.user .abilities .ability > *:not(aside) {
    z-index: 1;
}

.user .abilities .ability aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.user .cardota{
    /* background: var(--color-black); */
    /* z-index: -2; */
    /* border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1; */
    position: relative;
    border-radius: .25rem;
}

.user .cardota > * {
    position: inherit;
    z-index: 3;
}

.user .cardota::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* opacity: .5; */
    background:url(/img/01-background.png) no-repeat center center;
    background-size: cover;
    border-radius: .25rem;
}

.user .cardota::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 1;
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-radius: .25rem;
}

.user .cards .games{
    margin-top: 0;
    margin-bottom: 1rem;
}

.user .cards .games li{
    padding-top: 0rem;
}

.user > .games .card a.add {
    height: 6rem;
    font-size: 2.5rem;
    background: var(--color-black);
    border-radius: .25rem;
    color: var(--color-white);
}

.user > .games figure {
    height: 10rem;
}

.user .reviews .games figure {
    height: 3rem;
}

.user .reviews .games header {
    padding: .5rem 0;
}

.user .reviews header a:last-child{
    background: var(--color-black);
    height: 2rem;
}

.user .degradado{
    font-size: 0.875rem;
}

.user .reviews .games header .degradado:first-of-type {
    display: none;
}

.user .reviews .games header .degradado.hidden {
    display: block;
}

.user .abilities li > div > div .stars svg {
    /* width: 1.2rem; */
    margin-left: .5rem;
}

.user .reviews .abilities .stars svg {
    width: 1.2rem;
}

.user .reviews .cards header {
    height: 100%;
}

.user .reviews .cards .image figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.user .reviews .cards .image figure img {
    height: 150%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.user .reviews .cards header a:hover {
    padding-right: 0;
}

.user .reviews > ul li .abilities li{
    margin-bottom: .5rem;
    font-size: .88rem;
}

.user .reviews > ul > li .stars{
    position: relative;
    bottom: 1px;
}

.user .reviews > ul > li:not(:last-child){
    margin-bottom: 2rem;
}

.user .reviews > ul > li .abilities li:first-of-type {
    margin-top: .5rem;
}

.user .reviews > ul > li svg{
    width: 40px;
}

/* ? MD */
@media (min-width: 768px) {
    .user .data .btn.btn-icon {
        left: -1rem;
    }

    .user .data{
        width: 100%;
    }

    .user > .games .cards{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
    }

    .user > .games .card a.add {
        height: 100%;
    }

    .user > .games .cards li{
        padding: 0;
    }

    .user > .games .cards li:is(:nth-last-of-type(2), :last-of-type()){
        margin-bottom: 0;
    }

    .user > .games .cards li:nth-of-type(2n + 1){
        padding: 0;
    }

    .user .icons-list svg {
        width: 30px;
        height: 30px;
    }

    .user > .abilities li > div{
        min-height: 10rem;
        height: 100%;
    }

    .user .abilities li > div > div{
        height: fit-content;
    }

    .user .reviews .cardota .games{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .user .reviews .abilities .stars svg {
        width: 1rem;
    }

    .user .reviews .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/01-background.png) no-repeat center center;
        z-index: 3;
        background-size: cover;
        border-radius: .25rem;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .user .banner {
        height: calc(60vh - 9rem);
    }

    .user .banner .actions {
        bottom: -5.5rem;
    }

    .user .data{
        width: 100%;
        position: sticky;
        top: 4rem;
        height: fit-content;
    }

    .user > .games{
        margin-top: 9rem;
    }

    .user > .games li{
        margin-left: 0;
        margin-bottom: 0;
    }

    .user > .games .cards{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2rem;
        margin-right: 2rem;
    }

    .user > .games figure {
        height: 5rem;
    }

    .user > .games ul li:not(:last-child) {
        margin-bottom: 0;
    }

    .user > .games .cards li:nth-of-type(2n + 1){
        margin-right: 0;
        padding: 0;
    }

    .user > .abilities li:not(:last-of-type) > div {
        margin-bottom: 0;
    }

    .user .abilities li > div > div > div span {
        width: fit-content;
        display: block;
    }

    .user .abilities li > div > div .stars svg {
        width: 1.2rem;
        margin-left: .25rem;
    }

    .user .abilities li > div > div .stars svg {
        width: 1.2rem;
        margin-left: .25rem;
    }

    .user .reviews .abilities .stars svg {
        width: .8rem;
    }

    .user .reviews > ul {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    .user > .games .cards{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-right: 0;
    }

    .user .reviews .abilities .stars svg {
        width: 1rem;
    }
}

/* ? 2XL */
@media (min-width: 1536px) {
    .user > .games .cards{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .user .cardota .image{
        width: 12rem;
    }
}