#user .blog{
    padding-left: 0;
}

#user input[type=text], #user input[type=password], #user textarea{
    background: var(--color-black);
    color: var(--color-white);
}

#user textarea{
    color: var(--color-white);
    resize: none;
    height: 10rem;
    resize: none;
    overflow: hidden;
}

#user .games h2{
    color: var(--color-white);
}

#user .games .game-name{
    color: var(--color-white);
    background: var(--color-black);
}

#user .date input{
    display: none;
}

#user .date label span{
    display: block;
    text-align: center;
    border-radius: .25rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    opacity: .2;
    font-size: .75rem;
}

#user .date label input:not(:disabled) + span {
    cursor: pointer;
}

#user .date label input:checked + span {
    background-color: var(--color-four);
    opacity: 1;
}

.TODO {
    background: var(--color-black);
    border-radius: .25rem;
}

#user .msg-modal input{
    width: 17em;
}

#user .profile-photo,
#user .banner-photo{
    overflow: hidden;
}

#user .profile-photo span,
#user .banner-photo span{
    padding: .5rem 0;
}

#user .profile-photo button span,
#user .banner-photo button span{
    padding: .5rem 1rem;
}

#user .profile-photo img,
#user .banner-photo img {
    width: 100%;
    max-height: 90px;
    object-fit: cover;
    object-position: bottom center;
    border-radius: .25rem;
    background-color: var(--color-black);
}

#user .profile-photo img {
    width: 90px;
    height: 90px;
    border-radius: 100vh;
    background-color: var(--color-one);
}

#user .input-option input[type="checkbox"]:disabled:checked ~ .input-box {
    background: var(--color-four);
    opacity: 1;
    border-color: var(--color-four);
}

#user ul.achievements li:first-of-type,
#user ul.reviews li:first-of-type,
#user ul.blog.cards .card:first-of-type {
    padding-left: 0;
}