#assigment .form-input, #assigment textarea, #assigment #url{
    background-color: var(--color-one);
    padding-left: 1rem;
    color: #fff;
    font-size: .8rem;
    padding-top: .5rem;
}


#assigment textarea{
    color: #fff;
    font-size: .8rem;
    padding-top: 1rem;
}

#assigment textarea::placeholder{
    color: #fff;
    font-size: .8rem;
}

#assigment textarea{
    resize: none;
}

#assigment textarea:focus{
    outline: none;
    box-shadow: none;
}

#assigment #myVideo{
    display: flex;
    justify-content: center;
}

#assigment #myVideo iframe{
    width: 80%;
    height: 20rem;
}