#panel.tab-menu {
    --tab-menu-header-background-color: var(--color-black);
    --tab-menu-tabs-background-color: var(--color-black);
}

#panel.tab-menu .tab-header {
    display: flex;
    padding: 0 1rem;
    max-height: 4.6rem;
}

#panel.tab-menu .sidebar.tabs .tab-header {
    padding: 0 2rem;
}

#panel.tab-menu > .tab-header .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    color: var(--color-five);
}

#panel.tab-menu .tab-header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
}

#panel.tab-menu .tab-header .logo img {
    width: 80%;
}

#panel.tab-menu .tabs .tab-menu-list .tab :where(.tab-button, .tab-link) {
    background: var(--color-black);
    color: var(--color-four);
}

#panel.tab-menu .tabs .tab-menu-list .tab.opened :where(.tab-button, .tab-link),
#panel.tab-menu .tabs .tab-menu-list .tab :where(.tab-button, .tab-link):hover {
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
    color: var(--color-black);
}

#panel.tab-menu table {
    background-color: var(--color-black);
    border-radius: .25rem;
    overflow: hidden;
}

#panel.tab-menu table tr {
    min-height: 4.6rem;
}

#panel.tab-menu table tbody tr {
    position: relative;
    transition: 500ms;
    cursor: pointer;
}

#panel.tab-menu table tbody tr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 500ms;
    opacity: 0;
    z-index: 1;
    background: linear-gradient(130deg, var(--color-five), var(--color-four));
}

#panel.tab-menu table tbody tr:hover::before {
    opacity: 1;
}

#panel.tab-menu table tbody td {
    position: inherit;
    z-index: 2;
    color: var(--color-white);
    transition: 500ms;
}

#panel.tab-menu table tbody tr:hover td {
    color: var(--color-black);
}

/* ? MD */
@media (min-width: 768px) {
    #panel.tab-menu.vertical :where(.tabs, .tab-content-list) {
        min-height: 100vh;
        max-height: 100vh;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    #panel.tab-menu > .tab-header {
        display: none;
    }
}
