#banner .banner-container .banner-photo img,
#banner .banner-container .bg-banner img{
    object-fit: cover;
    border-radius: .25rem;
    width: 100%;
    height: 15rem;
    cursor: pointer;
    transition: 600ms;
    overflow: hidden;
    background-color: var(--color-black);
}

#banner .banner-container .banner-photo img {
    height: 10rem;
}

#banner .banner-container .banner-photo img:hover,
#banner .banner-container .bg-banner img:hover{
    transform: scale(1.05);
}

#banner .banner-photo button span,
#banner .bg-banner button span{
    padding: .5rem 1rem;
}

#banner .banner-photo span,
#banner .bg-banner span{
    padding: .5rem 0;
}


