/* TODO Custom CSS */

.profesor{
    padding: 1rem;
    margin: 2rem;
    border: 1px solid rebeccapurple;
}



/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1400px){
    
}