/* TODO Custom CSS */

@import '../swiper/swiper.min.css';

/* slider section */

.slider-container{
    position: relative;
    height: 25rem;
}

.slider-container header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.swiper-container, .swiper-wrapper, .swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-container .btn {
    background-color: transparent;
}

.slider-container .btn:hover {
    background-color: var(--color-black);
}

.slider-container .btn::before {
    background: var(--color-black);
}


/* video section */

.video-section{
    background: url('../../img/02-background.png') no-repeat center center;
    background-size: cover;
}

.video-section header p{
    padding-top: .5rem;
}

.video-section header figure{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
}

.video-section header figure img{
    height: 500%;
    width: 500%;
    object-fit: cover;
    position: relative;
    top: -250%;
    transform: translateY(15.6%);
}

.video-section iframe{
    width: 100%;
    height: 15rem;
    border: 1px solid #FBF19C;
}

.video-section .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section .services .service{
    background: var(--color-black);
    border-radius: .25rem;
}

.video-section .service:last-of-type {
    margin-bottom: 0;
}

.video-section .service svg{
    display: inline-block;
    margin-left: .7rem;
    height: 47px;
}


/* buscador (usuarios) */

.banner-buscador{
    z-index: 2;
    background-color: var(--color-black);
    position: relative;
}

.banner-buscador::before{
    content: "";
    background: url(../../img/games/league-of-legends/01-background.png) no-repeat -70px top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    transform: rotateY(180deg);
}

.banner-buscador::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: rotateY(180deg);
    background-color: var(--color-black);
}

.users-form-search .users-search{
    width: 80%;
    height: 2rem;
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    background-color: var(--color-one);
}

/* buscador profesores */

.submit-lupa{
    position: relative;
    right: 2rem;
}

.submit-lupa svg{
    height: 20px;
}

/* .listado-buscador-profesores li{
    height: 9rem;
    width: 80%;
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    position: relative;
}

.listado-buscador-profesores .profesor img{
    height: 200px;
    position: absolute;
    top: -3.6rem;
    right: 0;
} */

/* fornite banner */

.fornite-banner{
    background: url('../../img/games/counter-strike-go/banner-csgo-landingJuego.jpg') no-repeat center center;
    background-size: cover;
    min-height: 20rem;
    width: 100%;
}

/* ? MD */
@media(min-width: 768px){
    .slider-container header{
        width: 60%;
    }

    /* video section */

.video-section iframe{
    width: 80%;
    height: 20rem;
    border: 1px solid #FBF19C;
}

.video-section .services{
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.service{
    width: 14rem;
}

.video-section .service:last-of-type {
    margin-bottom: 1rem;
}


/* buscador */

.users-form-search .users-search{
    height: 2.5rem;
    margin-top: 1rem;
}


.submit-lupa svg{
    margin-top: 1rem;
}

.banner-buscador{
    height: 250px;
}

.banner-buscador header{
    padding-left: 3.7rem;
}


.banner-buscador::before {
    background-size: contain;
    width: 100%;
    height: 100%;
}


/* habiliades */

.habilidades header{
    padding-left: 3.7rem;
}

.cards-abilities .card{
    min-width: 33.333333%;
}

.habilidades header{
    padding-left: 3.7rem;
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1400px){
    
}