@import '../swiper/swiper.min.css';

.coming-soon {
    background: url(../../img/01-background.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    min-height: 30vh;
}

.coming-soon aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    transform: rotateY(180deg);
}

/* slider section */

.slider-container{
    position: relative;
    /* height: 25rem; */
    height: calc(100vh - 4.6rem);
}

.slider-container header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.swiper-container, .swiper-wrapper, .swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.arrows {
    position: absolute;
    bottom: 0;
    right: 2rem;
    z-index: 2;
    margin-bottom: 2rem;
}

.arrows div {
    background-color: var(--color-white);
    opacity: .5;
    transition: 500ms;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100vh;
}

.arrows div:hover {
    opacity: 1;
}

.arrows i {
    color: var(--color-black);
}

.verPros{
    font-size: .88rem;
}

.teachers .teacher .teampro img {
    width: 100%;
    height: 2rem;
    object-fit: contain;
    object-position: left;
}

.video-section header figure{
    width: 3rem;
    height: 100%;
}

.video-section header figure img{
    height: 100%;
    width: 500%;
    object-fit: contain;
}

.video-section iframe{
    width: 100%;
    height: 15rem;
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-image-slice: 1;
}

.video-section .services{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section .services .service{
    background: var(--color-black);
    border-radius: .25rem;
}

.video-section .service:last-of-type {
    margin-bottom: 0;
}

.video-section .service h4 {
    white-space: nowrap;
}

.video-section .service svg{
    display: inline-block;
    margin-left: .7rem;
    /* height: 47px; */
    width: 35px;
}


/* buscador (usuarios) */

.banner-buscador{
    z-index: 2;
    background-color: var(--color-black);
    position: relative;
    color: #fff;
}

.banner-buscador::before{
    content: "";
    background: url(../../img/games/league-of-legends/01-background.png) no-repeat -70px top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    transform: rotateY(180deg);
}

.banner-buscador::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: rotateY(180deg);
    background-color: var(--color-black);
}

.users-form-search {
    border: 1px solid;
    border-image-source: -webkit-linear-gradient(130deg, var(--color-four), var(--color-five));
    border-image-slice: 1;
    color: var(--color-white);
    background-color: var(--color-one);
}

.users-form-search input {
    flex-basis: 100%;
    background-color: transparent;
}

/* buscador profesores */

.profesores-destacados form {
    background-color: var(--color-black);
    border: none;
}

.profesores-destacados .users-form-search button {
    color: var(--color-five);
}

.submit-lupa svg{
    height: 20px;
}

.profesores-destacados input::placeholder{
    color: var(--color-grey);
}

/* fornite banner */

.aside {
    background: url('../../storage/web/01-banner.png') no-repeat center center;
    background-size: cover;
    min-height: 20rem;
    width: 100%;
}

.catalogo {
    background-color: var(--color-black);
}

.profesores-destacados .teacher {
    border: 1px solid transparent;
    background-color: var(--color-one);
    opacity: .5;
    transition: 500ms;
    z-index: 1;
}

.profesores-destacados .teacher:hover {
    border: 1px solid;
    border-image-source: linear-gradient(130deg, var(--color-five), var(--color-four));
    border-image-slice: 1;
    opacity: 1;
    z-index: 2;
}

.profesores-destacados .teacher .image {
    filter: grayscale(1);
    transition: 500ms;
}

.profesores-destacados .teacher:hover .image {
    filter: grayscale(0);
}

.profesores-destacados .teachers .teacher .team-name {
    display: none;
}

.profesores-destacados .teachers .teacher .team-icon {
    grid-column: span 2 / span 2;
    order: 1;
}

.profesores-destacados .teachers .teacher .info {
    order: 2;
}

.profesores-destacados .teacher .teampro {
    transition: 500ms;
    opacity: 0;
}

.profesores-destacados .teacher:hover .teampro {
    opacity: 1;
}

.profesores-destacados .payment ul {
    display: none;
}

.profesores-destacados .payment .btn {
    opacity: 0;
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--color-white);
    border-image: none;
    border-radius: 0;
    width: fit-content;
    transition: 500ms;
    padding: 0;
}

.profesores-destacados .teacher:hover .payment .btn {
    opacity: 1;
}

.profesores-destacados .payment .btn:hover {
    padding-right: 0;
    border-bottom-color: var(--color-four);
}

.profesores-destacados .payment .btn::before {
    display: none;
}


/* .posts .card main span {
    display: none;
} */

.teacher{
    background: url('../../img/01-background.png') no-repeat center center;
    background-size: cover;
}

.teachers .teacher:not(:last-child){
    margin-bottom: 2.5rem;
}

/* ? MD */
@media(min-width: 768px){
    .coming-soon aside {
        background-size: contain !important;
        background-position: -70px center !important;
    }

    .slider-container header{
        width: 60%;
    }

    .arrows {
        top: 12%;
    }

    /* video section */
    .video-section iframe{
        height: 20rem;
    }

    .video-section .services{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .video-section .service{
        min-height: 100%;
    }



    /* buscador */

    .banner-buscador::before {
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    /* profesores destacados */


    /* habiliades */

    .habilidades header{
        padding-left: 3.7rem;
    }

    .cards-abilities .card{
        min-width: 33.333333%;
    }

    .habilidades header{
        padding-left: 3.7rem;
    }

    .profesores-destacados .teachers {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .profesores-destacados .teacher {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .profesores-destacados .teacher .abilities {
        display: none;
    }

    .profesores-destacados .teacher .image {
        grid-row: span 2 / span 2;
    }

    .profesores-destacados .teacher .payment {
        grid-row: span 1 / span 1;
        margin: 0;
        margin-left: 1rem;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .coming-soon {
        min-height: 40vh;
    }

    .coming-soon aside {
        background-size: 75% !important;
        background-position: -70px center !important;
    }

    .slider-container header{
        width: 60%;
    }

    .arrows{
        right: 4rem;
    }

    /* video section */

    .video-section iframe{
        height: 25rem;      
    }

    .video-section .services{
        justify-content: space-evenly;
        flex-basis: 80%;
    }

    .video-section .service h4 {
        font-size: 1rem;
    }


    /* buscador */


    .banner-buscador::before {
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    

    .profesores-destacados .teacher header {
        grid-column: span 1 / span 1;
    }

    .profesores-destacados .teachers {
        gap: 3rem;
    }

    .profesores-destacados .teachers .username {
        max-width: 100%;
        flex-basis: 100%;
    }

    .profesores-destacados .teachers .image img {
        min-height: 100%;
        top: 0;
        min-width: 175px;
        right: calc(175px - 100%);
    }

    .profesores-destacados .teacher .image {
        grid-column: span 1 / span 1;
        grid-row: span 2 / span 2;
    }

    .profesores-destacados .teacher .payment {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
    }

    .teachers .teacher:not(:last-child){
        margin-bottom: 0;
    }
}

/* ? XL */
@media(min-width: 1200px){

    .slider-container header{
        width: 48%;
    }

    /* video section */

    .video-section .services{
        justify-content: space-evenly;
        flex-basis: 50%;
    }

    .video-section .service h4 {
        font-size: 1.125rem;
    }

    .profesores-destacados .teachers {
        gap: 4rem;
    }


    /* buscador */

    /* profesores destacados */
}

/* ? 2XL */
@media(min-width: 1536px){

    .slider-container header {
        left: 17%;
        width: 42%;
    }

    .video-section iframe {
        height: 25rem;      
    }
}