.main{
    background: url('../../img/01-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

ul.games .card :where(a, div):hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

ul.games header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

ul.games main {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.games a .borders div {
    position: absolute;
    background: linear-gradient(130deg, var(--game-color-one), var(--game-color-two));
}

ul.games a .borders :where(.right, .left) {
    top: 0;
    width: 0;
    height: 100%;
}

ul.games a .borders .left {
    left: 0;
}

ul.games a .borders .right {
    right: 0;
}

ul.games a:not(.disabled):hover .borders :where(.right, .left) {
    width: 1px;
}

ul.games a .borders :where(.top, .bottom) {
    left: 0;
    width: 100%;
    height: 0;
}

ul.games a .borders .top {
    top: 0;
}

ul.games a .borders .bottom {
    bottom: 0;
}

ul.games a:not(.disabled):hover .borders :where(.top, .bottom) {
    height: 1px;
}

ul.games figure{
    width: 100vw;
}

/* ? MD */
@media(min-width: 768px){
    .main {
        min-height: 0;  
    }

    ul.games figure{
        width: 50vw;
    }

    ul.games {
        display: flex;
        justify-content: center;
    }
    
    ul.games .card {
        width: 50%;
    }
}

/* ? LG */
@media(min-width: 1024px){
    ul.games figure{
        width: calc(100vw / 4);
    }
    
    ul.games .card {
        width: 25%;
    }
}

/* ? XL */
@media(min-width: 1200px){
    .main{
        max-width: 100%;
    }

    ul.games figure{
        width: calc((100vw - 17px) / 4);
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    ul.games figure{
        height: 30rem;
    }
}