.main{
    background: url('../../img/01-background.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

/* ? MD */
@media(min-width: 768px){
    .main {
        min-height: 0;  
    }
}

/* ? LG */
@media(min-width: 1024px){
    
}

/* ? XL */
@media(min-width: 1200px){
    .main{
        max-width: 100%;
    }
}

/* ? XXL */
@media(min-width: 1536px){
    
}