/* TODO Custom CSS */

.main{
    background: url('../../img/home-bg.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

/* ? MD */
@media(min-width: 768px){
    
}

/* ? LG */
@media(min-width: 1024px){
    
    

}

/* ? XL */
@media(min-width: 1200px){
    
}

/* ? XXL */
@media(min-width: 1536px){
    
}